{% extends "base.html" %}
{% from "components/button.html" import button %}
{% from "components/icon_plus_action.html" import icon_plus_action %}
{% from "components/page_section.html" import page_section %}
{% from "components/page_section_group.html" import page_section_group %}
{% from "components/tick_list.html" import tick_list, tick_list_item %}

{% block content %}

  {% block content_title %}
    {% include "components/rainbow_road_splash.html" %}
  {% endblock %}

  {% call page_section_group() %}
    {%
      call page_section(
      labelledby="open-and-community",
      bg="bg-alpha-white",
      layout="layout-left")
    %}
      <h2 id="open-and-community">Open and community-driven</h2>
      <hr />
      {% call icon_plus_action(icon_path="svg/icons/code.svg") %}
        <h3>Code</h3>
        <p>
          Our public repositories hold all the Python, HTML, CSS, JavaScript,
          and XML that make up Janeway.
        </p>
        {%
          call button(
            volume="loud",
            link="https://github.com/openlibhums",
            target="_blank",
            parent_text_color="blue",
            parent_background_color="white"
          )
        %}
          View the source
        {% endcall %}
      {% endcall %}
      <hr />
      {% call icon_plus_action(icon_path="svg/icons/road-map.svg") %}
        <h3>Roadmap</h3>
        <p>
          Take a bird's-eye view of the team's current and planned work with our
          public roadmap.
        </p>
        {%
          call button(
          volume="loud",
          link="https://github.com/orgs/openlibhums/projects/21",
          target="_blank",
          parent_text_color="blue",
          parent_background_color="white")
        %}
          Check our progress
        {% endcall %}
      {% endcall %}
      <hr />
      {% call icon_plus_action(icon_path="svg/icons/customizable-themes.svg") %}
        <h3>Discord</h3>
        <p>
          Our lively Discord server offers a place to find other Janeway users,
          share tips, and chat with Janeway developers.
        </p>
        {%
          call button(
          volume="loud",
          link="https://discord.gg/gBbSGec7Ft",
          target="_blank",
          parent_text_color="blue",
          parent_background_color="white")
        %}
          Join in
        {% endcall %}
      {% endcall %}
    {% endcall %}
    {% call page_section_group() %}
      {%
        call page_section(
        labelledby="our-mission",
        bg="bg-alpha-blue",
        layout="layout-right")
      %}
        <h2 id="our-mission">Our mission</h2>
        <p class="fs-5 ff-space-mono-regular">
          The mission of the Open Library of Humanities is to support and extend
          open access to scholarship in the humanities – for free, for everyone,
          for ever.
        </p>
      {% endcall %}
      {%
        call page_section(
        labelledby="speak-to-us",
        bg="bg-alpha-yellow",
        layout="layout-right"
        )
      %}
        {% set speak_to_us="Speak to us" %}
        {% include "components/speak_to_us.html" %}
      {% endcall %}
    {% endcall %}
  {% endcall %}
  {% call page_section(labelledby="key-features", bg="bg-alpha-black", prose="") %}
    <h2 id="key-features">Key features</h2>
    {% call tick_list() %}
      {% call tick_list_item() %}
        Customisable submissions
      {% endcall %}
      {% call tick_list_item() %}
        Open, anonymous and triple anonymous review
      {% endcall %}
      {% call tick_list_item() %}
        Copyediting and typesetting
      {% endcall %}
      {% call tick_list_item() %}
        Support for articles in JATS XML, PDF and HTML
      {% endcall %}
      {% call tick_list_item() %}
        Metadata standards
      {% endcall %}
      {% call tick_list_item() %}
        File version control
      {% endcall %}
      {% call tick_list_item() %}
        Assignable roles
      {% endcall %}
      {% call tick_list_item() %}
        Email templates
      {% endcall %}
      {% call tick_list_item() %}
        Repository system
      {% endcall %}
      {% call tick_list_item() %}
        Archiving and discovery support
      {% endcall %}
      {% call tick_list_item() %}
        GDPR compliance
      {% endcall %}
      {% call tick_list_item() %}
        Security and privacy
      {% endcall %}
    {% endcall %}
  {% endcall %}
  {% call page_section(labelledby="article-infographic", bg="bg-alpha-white", prose="") %}
    {% include "components/article_infographic.html" %}
  {% endcall %}
  {% call page_section(labelledby="featured-journals", bg="bg-alpha-blue") %}
    <h2 id="featured-journals">Featured journals</h2>
    <p>
      Janeway is used to publish a wide range of journals with very different
      characteristics. We cover disciplines from the humanities and sciences,
      and we support equations and tables, multimedia content and multilingual
      articles.
    </p>
    {% include "components/journal_cover_grid.html" %}
  {% endcall %}

  {#
  {% for article in articles_page.object_list %}
    <article>
      <header>
        <h2>
          <a
            href="{{ SITEURL }}/{{ article.url }}"
            rel="bookmark"
            title="Permalink to {{ article.title|striptags }}">
            {{ article.title }}
          </a>
        </h2>
      </header>
      <section>{{ article.summary }}</section>
      <footer>
        <p>Published: <time datetime="{{ article.date.isoformat() }}">
          {{ article.locale_date }} </time></p>
        <address>
          By
          {% for author in article.authors %}
            <a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
          {% endfor %}
        </address>
      </footer>
    </article>
  {% endfor %}
  #}

  {#
  {% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
  {% endif %}
  #}
{% endblock content %}
