{% extends "base.html" %}

{% from "components/main_header.html" import main_header %}

{% block html_lang %}{{ page.lang }}{% endblock %}

{% block title %}{{ page.title|striptags }} - {{ SITENAME|striptags }}{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block body %}
  <body data-alpha-site="{{ page.alpha_site }}">
    <div class="overflow-x-hidden min-height-viewport">
      <div class="container min-height-viewport">
        <header>
          {% block header %}
            {{ main_header(LEFT_NAV_ITEMS, RIGHT_NAV_ITEMS, output_file) }}
          {% endblock %}
        </header>
        <main>
          {% block content %}
            {% if page.alpha_site == "main" %}
              <article>{{ page.content }}</article>
            {% else %}
              <article>
                <div class="flow flow-first-child prose">
                  {% include "components/support_breadcrumbs.html" %}
                  {{ page.content }}
                </div>
              </article>
            {% endif %}
          {% endblock %}
        </main>
        <footer>
          {% block footer %}
            {% if page.alpha_site == "main" %}
              {% include "components/main_footer.html" %}
            {% else %}
              {% include "components/support_footer.html" %}
            {% endif %}
          {% endblock %}
        </footer>
      </div>
    </div>
  </body>
{% endblock %}
