{% extends "base.html" %}
{% from 'components/my_component.html' import my_component %}


{% block content %}

{% block content_title %}
<h2 class="text-tan text-3xl font-space-mono">font-space-mono</h2>
{% endblock %}
<p class="text-tan">font-poppins</p>
<img
  class="text-tan my-6 w-36"
  src="{{ SITEURL }}/theme/images/logo/Janeway-logo-powered-tan.svg"
  alt="The Janeway logo: Janeway with a circle highlighting the letters new">
<div class="flex flex-wrap">
  <div class="bg-black m-8 p-8 h-28 w-64">bg-black</div>
  <div class="bg-white m-8 p-8 h-28 w-64 text-black">bg-white</div>
  <div class="bg-tan m-8 p-8 h-28 w-64 text-black">bg-tan</div>
  <div class="bg-orange m-8 p-8 h-28 w-64 text-white">bg-orange</div>
  <div class="bg-blue m-8 p-8 h-28 w-64">bg-blue</div>
  <div class="bg-rust m-8 p-8 h-28 w-64 text-black">bg-rust</div>
</div>

{% call my_component() %}
  <p class="my-2">This is how I call my component and pass text into the slot provided, with
  the styling controlled by the component.</p>
  <p class="my-2">It might take several block elements contain its own internal markup.</p>
  <p class="my-2">But that's OK because I can pass it through a slot.</p>
{% endcall %}

{#
{% for article in articles_page.object_list %}
        <article>
                <header> <h2><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2> </header>
                <section>{{ article.summary }}</section>
                <footer>
                    <p>Published: <time datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time></p>
                    <address>By
                    {% for author in article.authors %}
                        <a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
                    {% endfor %}
                    </address>
                </footer>
        </article>
{% endfor %}

{% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
{% endif %}
#}

{% endblock content %}
