{% extends "base.html" %}


{% block content %}

{% block content_title %}
<h2 class="text-tan text-3xl font-space-mono">font-space-mono</h2>
{% endblock %}
<p class="text-tan">font-poppins</p>
<div class="flex flex-wrap">
  <div class="m-8 p-8 h-28 w-64 text-tan bg-black">text-tan bg-black</div>
  <div class="m-8 p-8 h-28 w-64 text-rust bg-black">text-rust bg-black</div>
  <div class="m-8 p-8 h-28 w-64 text-black bg-tan">text-black bg-tan</div>
  <div class="m-8 p-8 h-28 w-64 text-orange bg-tan">text-orange bg-tan</div>
  <div class="m-8 p-8 h-28 w-64 text-blue bg-tan">text-blue bg-tan</div>
  <div class="m-8 p-8 h-28 w-64 text-tan bg-orange">text-tan bg-orange</div>
  <div class="m-8 p-8 h-28 w-64 text-tan bg-blue">text-tan bg-blue</div>
  <div class="m-8 p-8 h-28 w-64 text-black bg-rust">text-black bg-rust</div>
</div>


{#
{% for article in articles_page.object_list %}
        <article>
                <header> <h2><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2> </header>
                <section>{{ article.summary }}</section>
                <footer>
                    <p>Published: <time datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time></p>
                    <address>By
                    {% for author in article.authors %}
                        <a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
                    {% endfor %}
                    </address>
                </footer>
        </article>
{% endfor %}

{% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
{% endif %}
#}

{% endblock content %}
