header {
  position: relative;
  z-index: 10;
}
main {
  position: relative;
  z-index: 5;
}
body {
  color: var(--clr-alpha-white);
  background: var(--clr-background);
  font-family: var(--ff-poppins-regular);
  overflow-x: hidden;
  text-underline-offset: 0.25rem;
}
h1 {
  font-size: var(--step-8);
  font-family: var(--ff-space-mono-regular);
  font-weight: normal;
  line-height: 1.1;
  --flow-space: var(--space-xl);
}
h2 {
  font-size: var(--step-5);
  font-family: var(--ff-space-mono-bold);
  font-weight: normal;
  --flow-space: var(--space-l);
}
h3 {
  font-size: var(--step-4);
  font-family: var(--ff-space-mono-bold);
  --flow-space: var(--space-m);
}
h4 {
  font-size: var(--step-3);
  font-family: var(--ff-poppins);
  --flow-space: var(--space-m);
}
h5 {
  font-size: var(--step-3);
  font-family: var(--ff-poppins);
  --flow-space: var(--space-m);
}
h6 {
  font-size: var(--step-3);
  font-family: var(--ff-poppins);
  --flow-space: var(--space-m);
}
p,
ul,
li {
  font-size: var(--step-3);
  font-family: var(--ff-poppins);
  --flow-space: var(--space-xs);
}
hr {
  border: 1px solid var(--clr-alpha-blue);
  --flow-space: var(--space-m);
}

/*
 * Default backgrounds and focus states
 * See https://piccalil.li/blog/taking-a-shot-at-the-double-focus-ring-problem-using-modern-css/
 */

a,
button,
input,
textarea,
select,
details,
audio,
video,
object,
[contenteditable],
[tabindex] {
  background: var(--clr-background);
  --focus-ring-distance: 0.2rem;
  --focus-ring-color-background: var(--clr-background);

  &:focus-visible {
    --focus-ring-color-inner: var(--clr-alpha-white);
    --focus-ring-color-outer: var(--clr-alpha-black);

    box-shadow:
      0 0 0 var(--focus-ring-distance) var(--focus-ring-color-background),
      0 0 0 calc(var(--focus-ring-distance) * 2) var(--focus-ring-color-inner),
      0 0 0 calc(var(--focus-ring-distance) * 3)
        var(--focus-ring-color-background),
      0 0 0 calc(var(--focus-ring-distance) * 4) var(--focus-ring-color-outer);
    outline: none;
  }

  @supports (color: hsl(from var(--clr-alpha-white) h s l)) {
    &:focus-visible {
      --focus-ring-color-inner: currentColor;
      --focus-ring-color-outer: hsl(
        from var(--focus-ring-color-inner) calc(h + 180) s l
      );
      box-shadow:
        0 0 0 var(--focus-ring-distance) var(--focus-ring-color-background),
        0 0 0 calc(var(--focus-ring-distance) * 2)
          var(--focus-ring-color-inner),
        0 0 0 calc(var(--focus-ring-distance) * 3)
          var(--focus-ring-color-background),
        0 0 0 calc(var(--focus-ring-distance) * 4)
          var(--focus-ring-color-outer);
      outline: none;
    }
  }
  @media (forced-colors: active) {
    &:focus-visible {
      box-shadow: none;
      outline: var(--focus-ring-distance) solid LinkText;
      outline-offset: var(--focus-ring-distance);
    }
  }
}
