/* Font settings */
@font-face {
  font-family: "Poppins Regular";
  src: url("../fonts/poppins/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins Medium";
  src: url("../fonts/poppins/Poppins-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins Bold";
  src: url("../fonts/poppins/Poppins-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Space Mono Regular";
  src: url("../fonts/space-mono/SpaceMono-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Space Mono Bold";
  src: url("../fonts/space-mono/SpaceMono-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Space Mono Italic";
  src: url("../fonts/space-mono/SpaceMono-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Space Mono Bold Italic";
  src: url("../fonts/space-mono/SpaceMono-BoldItalic.ttf") format("truetype");
}

/* Custom properties */
:root {
  /* Theme colours */
  --clr-alpha-black: #262522;
  --clr-alpha-white: #fdf3e3;
  --clr-alpha-blue: #36565f;
  --clr-alpha-red: #bb4e30;
  --clr-alpha-yellow: #c08031;

  /* Semantic colours */
  --clr-background: var(--clr-alpha-black);
  --clr-foreground: var(--clr-alpha-white);

  /* Font families */
  --ff-poppins-regular: "Poppins Regular", sans-serif;
  --ff-poppins-medium: "Poppins Medium", sans-serif;
  --ff-poppins-bold: "Poppins Bold", sans-serif;
  --ff-poppins-italic: "Poppins Italic", sans-serif;
  --ff-poppins-bold-italic: "Poppins Bold Italic", sans-serif;

  --ff-space-mono-regular: "Space Mono Regular", monospace;
  --ff-space-mono-bold: "Space Mono Bold", monospace;
  --ff-space-mono-italic: "Space Mono Italic", monospace;
  --ff-space-mono-bold-italic: "Space Mono Bold Italic", monospace;

  --ff-sans-regular: var(--ff-poppins-regular);
  --ff-sans-medium: var(--ff-poppins-medium);
  --ff-sans-bold: var(--ff-poppins-bold);
  --ff-sans-italic: var(--ff-poppins-italic);
  --ff-sans-bold-italic: var(--ff-poppins-bold-italic);

  --ff-mono-regular: var(--ff-space-mono-regular);
  --ff-mono-bold: var(--ff-space-mono-bold);
  --ff-mono-italic: var(--ff-space-mono-italic);
  --ff-mono-bold-italic: var(--ff-space-mono-bold-italic);

  /* Font sizes */
  /* Source: https://utopia.fyi/type/calculator */
  --step-1: clamp(0.7813rem, 0.7747rem + 0.0326vi, 0.8rem);
  --step-2: clamp(0.9375rem, 0.9158rem + 0.1087vi, 1rem);
  --step-3: clamp(1.125rem, 1.0815rem + 0.2174vi, 1.25rem);
  --step-4: clamp(1.35rem, 1.2761rem + 0.3696vi, 1.5625rem);
  --step-5: clamp(1.62rem, 1.5041rem + 0.5793vi, 1.9531rem);
  --step-6: clamp(1.944rem, 1.771rem + 0.8651vi, 2.4414rem);
  --step-7: clamp(2.3328rem, 2.0827rem + 1.2504vi, 3.0518rem);
  --step-8: clamp(2.7994rem, 2.4462rem + 1.7658vi, 3.8147rem);
  --step-9: clamp(3.3592rem, 2.8691rem + 2.4507vi, 4.7684rem);

  /* Spaces */
  /* Source: https://utopia.fyi/space/calculator/ */
  --space-3xs: clamp(0.3125rem, 0.3125rem + 0vi, 0.3125rem);
  --space-2xs: clamp(0.5625rem, 0.5408rem + 0.1087vi, 0.625rem);
  --space-xs: clamp(0.875rem, 0.8533rem + 0.1087vi, 0.9375rem);
  --space-s: clamp(1.125rem, 1.0815rem + 0.2174vi, 1.25rem);
  --space-m: clamp(1.6875rem, 1.6223rem + 0.3261vi, 1.875rem);
  --space-l: clamp(2.25rem, 2.163rem + 0.4348vi, 2.5rem);
  --space-xl: clamp(3.375rem, 3.2446rem + 0.6522vi, 3.75rem);
  --space-2xl: clamp(4.5rem, 4.3261rem + 0.8696vi, 5rem);
  --space-3xl: clamp(6.75rem, 6.4891rem + 1.3043vi, 7.5rem);

  /* Container max width and inline padding */
  --container-max-width: 72rem;
  --container-padding-small: 1rem;
  --container-padding-large: 2rem;
}

/* Common animation keyframes */
@keyframes blink {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
