{# A page section for setting a full-width background, semantic markup, and prose classes. #}

{% from "utils.html" import best_foreground %}

{% macro page_section(labelledby="", label="", bg="bg-black", prose=True, layout="full", grow=False) -%}
  <div
    class="
      {{ bg }}
      relative
      {% if layout=="left" or layout=="right" %}
        basis-1/2
      {% endif %}
      {% if grow %}
        grow
      {% else %}
        grow-0
      {% endif %}
    ">

    {# left-hand full-width background #}
    <div
      class="
        {{ bg }}
        inset-y-0 w-[50vw] right-1/2
        {% if layout=="right" %}
          max-lg:absolute lg:hidden
        {% else %}
          absolute
        {% endif %}
        ">
    </div>

    {# right-hand full-width background #}
    <div
      class="
        {{ bg }}
        inset-y-0 w-[50vw] left-1/2
        {% if width=="left" %}
          max-lg:absolute lg:hidden
        {% else %}
          absolute
        {% endif %}
      ">
    </div>

    <section
      {% if labelledby %}
        aria-labelledby="{{ labelledby }}"
      {% elif label %}
        aria-label="{{ label }}"
      {% endif %}>
      <div
        class="
          relative
          max-lg:py-6 lg:py-12
          {% if layout=="left" %}
            lg:pr-12
          {% elif layout=="right" %}
            lg:pl-12
          {% endif %}
        ">
        <div
          class="
            {{ best_foreground(bg) }}
            {% if prose %}
              prose lg:prose-lg break-words
            {% endif %}
          ">
          {{ caller() }}
        </div>
      </div>
    </section>
  </div>
{%- endmacro %}
