{# A component to display the main navigation. #}

{% macro main_nav(LEFT_NAV_ITEMS, RIGHT_NAV_ITEMS) -%}
<nav id="main-nav" class="main-nav">
  <div class="nav-container">
    <div class="left">
      
      <ul>
        {% for title, link in LEFT_NAV_ITEMS %}
        <li class="fs-2">
          <a href="{{ link }}">
            {{ title }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="logo">
      <img src="theme/images/logo/janeway-logo-tan.svg" alt="Janeway Logo" />
    </div>
    <div class="right">
      <ul>
        {% for title, link in RIGHT_NAV_ITEMS %}
        <li class="fs-2">
          <a href="{{ link }}">
            {{ title }}
          </a>
        </li>
        {% endfor %}
      </ul>
      <button class="slide-drawer" id="slide-drawer" aria-label="Open the navigation menu">
        <img src="theme/images/menu.svg" alt="">
      </button>
    </div>
  </div>

  <!-- Combined menu for the slide drawer navigation. -->
  <div class="combined-menu">
    <ul>
      {% for title, link in LEFT_NAV_ITEMS %}
      <li class="fs-3">
        <a href="{{ link }}">
          {{ title }}
        </a>
      </li>
      {% endfor %}
      {% for title, link in RIGHT_NAV_ITEMS %}
      <li class="fs-3">
        <a href="{{ link }}">
          {{ title }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</nav>
{%- endmacro %}
