<section
  id="article-infographic"
  class="article-infographic flex justify-center"
>
  <div
    class="ff-space-mono-regular responsive-frame"
    role="img"
    aria-label="Abstract illustration of a Janeway article that is mobile
    friendly, accessible, marked up in JATS XML, described with robust metadata,
    downloadable as a PDF, and open access"
  >
    {% include "svg/article-infographic.svg" %}
    <div class="small-viewport-labels">
      <div class="circle" style="top: -1.5rem; left: 3rem;"></div>
      <div
        class="line vertical"
        style="top: -1rem; left: 3.5rem; height: 2rem;"
      ></div>
      <strong class="label" style="top: -3.5rem; left: 3rem;">
        Mobile friendly
      </strong>
      <div class="circle" style="top: -12rem; left: 3rem;"></div>
      <div
        class="line vertical rotate-45 origin-bottom-left"
        style="top: -13.5rem; left: -0.5rem; height: 6rem;"
      ></div>
      <div
        class="line vertical"
        style="top: -7.5rem; left: -0.5rem; height: 18rem;"
      ></div>
      <div
        class="line vertical -rotate-45 origin-top-left"
        style="top: 10.5rem; left: -0.5rem; height: 4rem;"
      ></div>
      <strong class="label" style="top: -14rem; left: 3rem;">
        Accessible
      </strong>
      <div
        class="line vertical rotate-45 origin-bottom-left"
        style="bottom: 8.5rem; left: -0.5rem; height: 4rem;"
      ></div>
      <div
        class="line vertical -bottom-0-5rem -left-2  h-36"
        style="bottom: -0.5rem; left: -0.5rem; height: 9rem;"
      ></div>
      <div
        class="line vertical -rotate-45 origin-top-left"
        style="bottom: -6.5rem; left: -0.5rem; height: 6rem;"
      ></div>
      <div class="circle" style="bottom: -5rem; left: 3rem;"></div>
      <strong class="label" style="bottom: -7rem; left: 3rem;">
        JATS XML markup
      </strong>
      <div class="circle" style="top: -7rem; right: 3rem;"></div>
      <div
        class="line vertical -rotate-45 origin-bottom-right"
        style="top: -8.5rem; right: -0.5rem; height: 6rem;"
      ></div>
      <div
        class="line vertical"
        style="top: -2.5rem; right: -0.5rem; height: 10rem;"
      ></div>
      <div
        class="line vertical rotate-45 origin-top-right"
        style="top: 7.5rem; right: -0.5rem; height: 4rem;"
      ></div>
      <strong class="label" style="top: -9rem; right: 3rem;">
        Full metadata
      </strong>
      <div
        class="line vertical -rotate-45 origin-bottom-right"
        style="bottom: 15rem; right: -0.5rem; height: 4rem;"
      ></div>
      <div
        class="line vertical -bottom-5rem -right-2 h-80"
        style="bottom: -5rem; right: -0.5rem; height: 20rem;"
      ></div>
      <div
        class="line vertical rotate-45 origin-top-right"
        style="bottom: -11rem; right: -0.5rem; height: 6rem;"
      ></div>
      <div class="circle" style="bottom: -10rem; right: 3rem;"></div>
      <strong class="label" style="bottom: -12rem; right: 3rem;">
        PDF download
      </strong>
      <div
        class="line vertical"
        style="bottom: 0; right: 3.5rem; height: 10rem;"
      ></div>
      <div class="circle" style="bottom: -1rem; right: 3rem;"></div>
      <strong class="label" style="bottom: -3rem; right: 3rem;">
        Open access
      </strong>
    </div>
    <div class="large-viewport-labels">
      <div class="circle" style="top: -2.5rem; left: -10rem;"></div>
      <div
        class="line horizontal"
        style="top: -1.75rem; left: -9rem; width: 8rem;"
      ></div>
      <div
        class="line horizontal rotate-24 origin-top-left"
        style="top: -1.75rem; left: -1rem; width: 7rem;"
      ></div>
      <strong class="label" style="top: 0; left: -10rem;">
        Mobile <br />friendly
      </strong>
      <div class="circle" style="top: 16rem; left: -10rem;"></div>
      <div
        class="line horizontal"
        style="top: 16.75rem; left: -9rem; width: 14rem;"
      ></div>
      <strong class="label" style="top: 18.5rem; left: -10rem;">
        Accessible
      </strong>
      <div class="circle" style="bottom: 13rem; left: -10rem;"></div>
      <div
        class="line horizontal"
        style="bottom: 13.75rem; left: -9rem; width: 8rem;"
      ></div>
      <div
        class="line horizontal -rotate-24 origin-bottom-left"
        style="bottom: 13.75rem; left: -1rem; width: 5rem;"
      ></div>
      <strong class="label" style="bottom: 8rem; left: -10rem;">
        JATS XML <br />markup
      </strong>
      <div class="circle" style="top: 9rem; right: -4rem;"></div>
      <div
        class="line horizontal"
        style="top: 9.75rem; right: -3rem; width: 3rem;"
      ></div>
      <div
        class="line horizontal -rotate-45 origin-top-right"
        style="top: 9.75rem; right: 0; width: 5rem;"
      ></div>
      <strong class="label" style="top: 11.5rem; width: 9rem; right: -11rem;">
        Full <br />metadata
      </strong>
      <div class="circle" style="top: 19.5rem; right: -4rem;"></div>
      <div
        class="line horizontal"
        style="top: 20.25rem; right: -3rem; width: 7rem;"
      ></div>
      <strong class="label" style="top: 22rem; width: 9rem; right: -11rem;">
        PDF <br />download
      </strong>
      <div class="circle" style="bottom: 9rem; right: -4rem;"></div>
      <div
        class="line horizontal"
        style="bottom: 9.75rem; right: -3rem; width: 3rem;"
      ></div>
      <div
        class="line horizontal rotate-45 origin-bottom-right"
        style="bottom: 9.75rem; right: 0; width: 6rem;"
      ></div>
      <strong class="label" style="bottom: 4.5rem; width: 9rem; right: -11rem;">
        Open <br />access
      </strong>
    </div>
  </div>
</section>
