
.button-container {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: var(--space-l);

    & .button-internal {
        text-decoration-line: none;
        line-height: 1.1;
        border: 0;
        padding: var(--space-2xs);
        margin: 0;
        display: inline-block;

       /* color pairs foreground-background*/
       &.tan-on-black{color: var(--clr-tan); background-color: var(--clr-black);}
       &.black-on-tan{ color: var(--clr-black); background-color: var(--clr-tan); }
   
       &.rust-on-black{ color: var(--clr-rust); background-color: var(--clr-black); }
       &.black-on-rust{ color: var(--clr-black); background-color: var(--clr-rust); }
   
       &.tan-on-orange{ color: var(--clr-tan); background-color: var(--clr-orange); }
       &.orange-on-tan{ color: var(--clr-orange); background-color: var(--clr-tan); }
   
       &.tan-on-blue{ color: var(--clr-tan); background-color: var(--clr-blue); }
       &.blue-on-tan{ color: var(--clr-blue); background-color: var(--clr-tan); }
   
    }

    & .button-shape {
        border-radius: var(--space-xl);
        padding: var(--space-m);

        /* borders */
        &.border-black { border: solid var(--clr-black) 2px; }
        &.border-tan { border: solid var(--clr-tan) 2px; }
        &.border-orange { border: solid var(--clr-orange) 2px; }
        &.border-blue { border: solid  var(--clr-blue) 2px; }
        &.border-rust { border: solid var(--clr-rust) 2px; }

       /* color pairs foreground-background*/
       &.tan-on-black{color: var(--clr-tan); background-color: var(--clr-black);}
       &.black-on-tan{ color: var(--clr-black); background-color: var(--clr-tan); }
   
       &.rust-on-black{ color: var(--clr-rust); background-color: var(--clr-black); }
       &.black-on-rust{ color: var(--clr-black); background-color: var(--clr-rust); }
   
       &.tan-on-orange{ color: var(--clr-tan); background-color: var(--clr-orange); }
       &.orange-on-tan{ color: var(--clr-orange); background-color: var(--clr-tan); }
   
       &.tan-on-blue{ color: var(--clr-tan); background-color: var(--clr-blue); }
       &.blue-on-tan{ color: var(--clr-blue); background-color: var(--clr-tan); }
   
       /* hover and focus inversing color pair */
       &.tan-on-black:hover,    &.tan-on-black:hover    > .button-internal{ color: var(--clr-black); background-color: var(--clr-tan); }
       &.black-on-tan:hover,    &.black-on-tan:hover    > .button-internal{ color: var(--clr-tan); background-color: var(--clr-black); }

       &.rust-on-black:hover,   &.rust-on-black:hover   > .button-internal{ color: var(--clr-black); background-color: var(--clr-rust); } 
       &.black-on-rust:hover,   &.black-on-rust:hover   > .button-internal{ color: var(--clr-rust); background-color: var(--clr-black); }

       &.tan-on-orange:hover,   &.tan-on-orange:hover   > .button-internal{ color: var(--clr-orange); background-color: var(--clr-tan); }
       &.orange-on-tan:hover,   &.orange-on-tan:hover   > .button-internal{ color: var(--clr-tan); background-color: var(--clr-orange); }

       &.tan-on-blue:hover,     &.tan-on-blue:hover     > .button-internal{ color: var(--clr-blue); background-color: var(--clr-tan); }
       &.blue-on-tan:hover,     &.blue-on-tan:hover     > .button-internal{ color: var(--clr-tan); background-color: var(--clr-blue); }
 
    }

}