.footer {
  a {
    color: var(--clr-alpha-white);
    position: relative;
    @media (width > 50rem) {
      padding-bottom: 0.7rem;
    }
  }

  .footer-title-wrapper {
    padding: var(--space-l);
  }
  .footer-title {
    font-family: var(--ff-mono-regular);
    font-size: var(--step-7);
    max-width: 40rem;
    padding: var(--space-xs);
    text-align: center;
  }
  .circle-wrapper-top {
    position: relative;
    @media (width <= 50rem) {
      top: 20px;
      left: 10px;
    }
  }
  .circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  .circle-path-blue {
    fill: var(--clr-alpha-blue);
  }
  .circle-path-red {
    fill: var(--clr-alpha-red);
  }
  .circle-top {
    position: absolute;
    right: 40px;
    top: 30px;
    z-index: -1;
    @media (width <= 50rem) {
      position: unset;
    }
  }

  .circle-wrapper-bottom {
    position: relative;
    margin-bottom: 200px;
  }
  .circle-bottom {
    position: absolute;
    left: 20px;
    top: 30px;
    z-index: -1;
    transform: scale(1.4);
    @media (width <= 50rem) {
      left: unset;
      right: 30px;
    }
  }

  .signup-form {
    .signup-form-wrapper {
      position: relative;
    }
    .text-input {
      border: none;
      border-bottom: 2px solid var(--clr-alpha-white);
      background-color: transparent;
      color: var(--clr-alpha-white);
      font-size: 16px;
      padding: 5px;
      width: 100%;
      transition:
        border-bottom-color 0.3s,
        transform 0.3s;
    }

    .text-input:focus {
      border-bottom-color: #00d2ff;
      transform: scale(1.05);
    }
  }

  .signature-wrapper {
    font-size: var(--step-4);
    margin-block: var(--space-xs);
    display: flex;
    justify-content: center;
  }

  .licensing-line {
    font-family: var(--ff-poppins-regular);
    font-size: var(--step-1);
  }
  .cc-by svg {
    display: inline-block;
    height: 1em;
    margin-inline-end: 0.25em;
    margin-block-end: 0.25em;
    vertical-align: middle;
  }
  margin-block-end: var(--space-xl);
}
