{# The main product site footer #}
{% from "components/laser_link.html" import laser_link %}
{% from "components/link_list.html" import link_list %}
{% from "components/button.html" import button %}

<footer class="footer">
  <div class="circle-wrapper-top">
    <svg
      class="circle circle-top"
      xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true"
    >
      <circle class="circle-path-blue" cx="50" cy="50" r="40" />
    </svg>
  </div>
  <div
    class="grid place-items-center-large place-items-start-small flow
    flow-first-child gap-0-5"
  >
    <p class="footer-title">Follow a new way</p>
    <p>Get the latest information on Janeway development and training.</p>
    {%
      call button(
        volume="loud",
        link="https://forms.office.com/Pages/ResponsePage.aspx?id=R3_QiVjSPEaHAGNf-uyjjoRElTXNbC1BhWwR3IwusVpURUo2WE1QVkI5QVg1SkQwSU1JNTJWSTYzQS4u",
        target="_blank",
        parent_text_color="white",
        parent_background_color="black"
      )
    %}
      Sign up to our mailing list
    {% endcall %}
    {% call link_list() %}
      <li>
        {% call laser_link(href="https://bsky.app/profile/janewayolh.bsky.social", target="_blank") %}
          Bluesky
        {% endcall %}
      </li>
      <li>
        {% call laser_link(href="https://fed.brid.gy/bsky/janewayolh.bsky.social", target="_blank") %}
          Mastodon
        {% endcall %}
      </li>
      <li>
        {% call laser_link(href="https://github.com/openlibhums/janeway", target="_blank") %}
          GitHub
        {% endcall %}
      </li>
    {% endcall %}
  </div>
  <div class="circle-wrapper-bottom">
    <svg
      class="circle circle-bottom"
      xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true"
    >
      <circle class="circle-path-red" cx="50" cy="50" r="50" />
    </svg>
  </div>
  <div class="signature-wrapper">{% include "components/signature.html" %}</div>
  {% call link_list() %}
    {% for title, link, target in FOOTER_LINKS %}
      <li>
        {% call laser_link(href=link, target=target) %}
          {{ title }}
        {% endcall %}
      </li>
    {% endfor %}
  {% endcall %}
  <div class="flow">
    <p class="licensing-line flex direction-column-small">
      <span class="copyright">
        Copyright &copy; 2017&ndash;{{ current_year }}
        <a target="_blank" href="https://www.bbk.ac.uk/">
          Birkbeck, University of London
        </a>
      </span>
      <span class="agpl">
        Software
        <a
          href="https://github.com/openlibhums/janeway?tab=AGPL-3.0-1-ov-file#readme"
          target="_blank"
        >
          AGPLv3
        </a>
      </span>
      <span class="cc-by">
        Content
        <a
          rel="license"
          href="http://creativecommons.org/licenses/by/4.0/"
          target="_blank"
        >
          CC BY 4.0
        </a>
      </span>
      <span class="design-by">
        Design by
        <a href="https://www.keepingthewolvesatbay.co.uk" target="_blank">
          KTWAB
        </a>
      </span>
    </p>
  </div>
</footer>
