<footer class="footer">
  <div class="circle-wrapper-top" role="presentation">
    <svg class="circle circle-top" xmlns="http://www.w3.org/2000/svg">
        <circle class="circle-path-blue" cx="50" cy="50" r="40"/>
    </svg>
  </div>
  <div class="grid place-content-center">
    <div class="footer-title-wrapper">
      <h1 class="footer-title">
        Sign up to a new way
      </h1>
    </div>
    <div class="signup-form">
       <div class="signup-form-wrapper">
          <label for="signup-form-email" id="signup-form-label" class="">Your Email</label>
          <input aria-describedby="signup-form-label" type="email" class="text-input" id="signup-form-email" placeholder="janeway@email.com">
      </div>
    </div>
    <div class="social-media-links">
      <ul class="pipe-separated-list all-caps" role="list">
        <li><a class="laser-underline" target="_blank" href="https://www.facebook.com/OpenLibHums">Facebook</a></li>
        <li><a class="laser-underline" target="_blank" href="https://bsky.app/profile/openlibhums.bsky.social">Bluesky</a></li>
        <li><a class="laser-underline" target="_blank" href="https://github.com/openlibhums/janeway">GitHub</a></li>
      </ul>
    </div>
  </div>
  <div class="circle-wrapper-bottom" role="presentation">
    <svg class="circle circle-bottom" xmlns="http://www.w3.org/2000/svg">
        <circle class="circle-path-orange" cx="50" cy="50" r="50"/>
    </svg>
  </div>
  <div class="signature-wrapper">
    <p class="signature" aria-label="Brought to you by OLH at Birkbeck, University of London">
        Brought to you by
        <span class="signature-logo signature-logo-olh" role="img">
          {% include "images/logo/OLH-symbol-black.svg" %}
        </span>
        at
        <span class="signature-logo signature-logo-birkbeck" role="img">
          {% include "images/logo/birkbeck-logo-icon-white.svg" %}
        </span>
    </p>
  </div>
  <ul class="pipe-separated-list unstyle-list-small  all-caps" role="list">
    <li><a class="laser-underline" target="_blank" href="">Site Map</a></li>
    <li><a class="laser-underline" target="_blank" href="">Terms and Conditions</a></li>
    <li><a class="laser-underline" target="_blank" href="">Privacy Policy</a></li>
    <li><a class="laser-underline" target="_blank" href="https://github.com/yourusername">Cookie Policy</a></li>
  </ul>
  <div class="copyright-wrapper">
    <p class="copyright">
        © Birkbeck, University of London
    </p>
  </div>
</footer>
