.george-space-splash {
  --portal-padding: 12px;
  @media (width > 50rem) {
    --portal-padding: 20px;
  }
  display: flex;
  position: relative;
  @media (width < 50rem) {
    flex-direction: column;
    align-items: center;
    margin-block-end: -2rem;
  }
  @media (width > 50rem) {
    justify-content: center;
    flex-direction: row;
    margin-block-end: -6rem;
  }

  .medium-circle-one,
  .medium-circle-two {
    position: absolute;
    height: 4rem;
    width: 4rem;
    clip-path: circle(50%);
  }
  .small-circle {
    position: absolute;
    height: 3rem;
    width: 3rem;
    clip-path: circle(50%);
  }

  .medium-circle-one {
    bottom: 6rem;
    left: -1rem;
  }
  .medium-circle-two {
    display: none;
  }
  .small-circle {
    bottom: -4rem;
    right: 0rem;
  }

  @media (width > 50rem) {
    .medium-circle-one {
      width: 4rem;
      height: 4rem;
      top: 8rem;
      left: 4rem;
    }
    .medium-circle-two {
      display: block;
      bottom: -4rem;
      right: 24rem;
    }
    .small-circle {
      top: 4rem;
      right: 13rem;
    }
  }

  .top-left-box {
    position: relative;
    margin-block: 1rem;
    @media (width > 50rem) {
      margin-block: 3rem;
    }
  }
  .rust-circle {
    padding: var(--portal-padding);
    background-color: var(--clr-rust);
    clip-path: circle(50%);
  }
  .picture-portal {
    width: 300px;
    height: 300px;
    @media (width > 50rem) {
      width: 400px;
      height: 400px;
    }
  }
  .orange-circle {
    padding: var(--portal-padding);
    height: 100%;
    width: 100%;
    background-color: var(--clr-orange);
    clip-path: circle(47%);
  }
  .george-picture {
    height: 100%;
    width: 100%;
  }
  .picture-portal img {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: var(--portal-padding);
    filter: grayscale(1);
  }
  .george-picture img {
    clip-path: circle(42%);
  }
  .space-picture img {
    position: absolute;
    clip-path: circle(42%);
    height: inherit;
    width: inherit;
  }
  .bottom-right-box {
    display: flex;
    margin-block-start: -4rem;
    margin-inline-start: 6rem;
    @media (width > 50rem) {
      margin-block-start: 11rem;
      margin-inline-start: -1rem;
      align-items: center;
      z-index: -10;
    }
  }

  .text-circle {
    position: relative;
    height: 16rem;
    width: 16rem;
    clip-path: circle(50%);
    display: grid;
    place-content: center;
    background: var(--clr-blue);
    @media (width > 50rem) {
      height: 20rem;
      width: 20rem;
    }
  }

  .george-text,
  .space-text {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: grid;
    place-content: center;
    max-height: 100%
  }

  .george-text p,
  .space-text p {
    padding-inline: 1rem;
    font-size: 1.2rem;
    @media (width > 50rem) {
      font-size: 1.4rem;
    }
    text-align: center;
    max-width: 20ch;
  }

  .space-text p {
    opacity: 0;
    z-index: -10;
  }

  /* Play/pause button */
  button.play,
  button.pause {
    height: inherit;
    width: inherit;
    padding-block: 0;
    border: 0;
    font: inherit;
    padding-inline: unset;
    color: unset;
    background-color: unset;
  }
  button.play:hover,
  button.pause:hover {
    cursor: pointer;
  }
  .play,
  .pause {
    display: none;
  }
  .play.displayed,
  .pause.displayed {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
  }
  .pause .bar {
    display: block;
    height: 20px;
    width: 8px;
    background: var(--clr-white);
  }
  .play .triangle {
    display: block;
    height: 20px;
    width: 20px;
    background: var(--clr-white);
    clip-path: polygon(0 0, 100% 50%, 0 100%);
  }

  /* Animations */
  .orange-circle {
    animation: 6s 1s transitionImage infinite alternate;
  }
  .text-circle {
    animation: 6s 1s blueToOrange infinite alternate;
  }
  .george-text p {
    animation: 6s 1s fadeText infinite alternate;
  }
  .space-text p {
    animation: 6s 1s fadeText infinite alternate-reverse;
  }
  .small-circle {
    @media (width > 50rem) {
      animation: 6s 1s topMoveUp infinite alternate;
    }
  }
  .bottom-right-box {
    @media (width > 50rem) {
      animation: 6s 1s marginBlockStartMoveUp infinite alternate;
    }
  }
  .animated.paused {
    animation-play-state: paused;
  }
}

@keyframes transitionImage {
  0% { opacity: 1; }
  40% { opacity: 1; }
  60% { opacity: 0; }
  100% { opacity: 0; }
}

@keyframes fadeText {
  0% { opacity: 1; }
  40% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 0; }
}

@keyframes blueToOrange {
  0% { background-color: var(--clr-blue); }
  50% { background-color: var(--clr-blue); }
  60% { background-color: var(--clr-orange); }
  100% { background-color: var(--clr-orange); }
}

@keyframes topMoveUp {
  0% { top: 4rem; }
  40% { top: 4rem; }
  60% { top: 2rem; }
  100% { top: 2rem; }
}

@keyframes marginBlockStartMoveUp {
  0% { margin-block-start: 11rem; }
  40% { margin-block-start: 11rem; }
  60% { margin-block-start: -8rem; }
  100% { margin-block-start: -8rem; }
}
