Title: George

{# An h1 element with brand styling #}

{% from "utils.html" import best_foreground %}

{% macro george_space_splash() -%}
  <aside class="george-space-splash">
    <div class="medium-circle-one bg-blue"></div>
    <div class="medium-circle-two bg-blue"></div>
    <div class="small-circle bg-blue"></div>
    <div class="top-left-box">
      <div class="rust-circle">
        <div class="picture-portal">
          <picture class="space-picture">
            <source
              srcset="{{ static }}/theme/images/nasa-hubble-space-telescope-sparkles.avif"
              type="image/avif">
            <img
              src="{{ static }}/theme/images/nasa-hubble-space-telescope-sparkles.png"
              alt="An 1830 portrait of George Birkbeck gazing steadily forward
              with poise, surrounded by bright colorful circles">
          </picture>
          <div class="orange-circle">
            <picture class="george-picture">
              <source
                srcset="{{ static }}/theme/images/george-birkbeck-portrait-samuel-lane-1830.avif"
                type="image/avif">
              <img
                src="{{ static }}/theme/images/george-birkbeck-portrait-samuel-lane-1830.png"
                alt="A satellite photo of bright stars and clouds in far outer
                space, shimmering through a rust-colored portal">
            </picture>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-right-box">
      <div class="text-circle ff-space-mono-regular">
        <div class="george-text">
          <p>Founded by academics and technologists at Birkbeck, University of
          London.</p>
        </div>
        <div class="space-text">
          <p>Built for the future of scholarly communications by the Open
          Library of Humanities.</p>
        </div>
      </div>
    </div>
  </aside>
{%- endmacro %}
