{# An animated opening element for the Our Story page #}

<aside class="george-space-splash">
  <div class="top-left-box">
    <div class="rust-circle">
      <div class="picture-portal">
        <picture class="space-picture">
          <source
            srcset="{{ static }}/theme/images/nasa-hubble-space-telescope-sparkles.avif"
            type="image/avif">
          <img
            src="{{ static }}/theme/images/nasa-hubble-space-telescope-sparkles.png"
            alt="">
        </picture>
        <div class="orange-circle animated paused">
          <picture class="george-picture">
            <source
              srcset="{{ static }}/theme/images/george-birkbeck-portrait-samuel-lane-1830.avif"
              type="image/avif">
            <img
              src="{{ static }}/theme/images/george-birkbeck-portrait-samuel-lane-1830.png"
              alt="">
          </picture>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-right-box animated paused">
    <div class="text-circle ff-space-mono-regular animated paused">
      <div class="george-text">
        <div class="sr-only">Animation slide 1: An 1830 portrait of George
          Birkbeck gazing steadily forward with poise, surrounded by bright
          colorful circles.</div>
        <p class="animated paused">Founded by academics and
        technologists at Birkbeck, University of London.</p>
      </div>
      <div class="space-text">
        <div class="sr-only">Animation slide 2: A satellite photo of bright
        stars and clouds in far outer space, shimmering through a rust-colored
        portal.</div>
        <p class="animated paused">Built for the future of scholarly
        communications by the Open Library of Humanities.</p>
      </div>
    </div>
  </div>
  <div class="medium-circle-one bg-blue">
    <button class="play">
      <span class="sr-only">Play animation</span>
      <span class="triangle"></span>
    </button>
    <button class="pause displayed">
      <span class="sr-only">Pause animation</span>
      <span class="bar"></span>
      <span class="bar"></span>
    </button>
  </div>
  <div class="medium-circle-two bg-blue"></div>
  <div class="small-circle bg-blue animated paused"></div>
</aside>
