{# An animated opening element for the Our Story page #}

<section
  class="george-space-splash"
  aria-label="Animation of George Birkbeck and stars in outer space"
>
  <div class="top-left-box">
    <div class="yellow-circle">
      <div class="picture-portal">
        <picture class="space-picture">
          <source
            srcset="
              {{ static }}/theme/images/nasa-hubble-space-telescope-sparkles.avif
            "
            type="image/avif"
          />
          <img
            src="{{ static }}/theme/images/nasa-hubble-space-telescope-sparkles.png"
            alt=""
          />
        </picture>
        <div class="red-circle animated">
          <picture class="george-picture">
            <source
              srcset="
                {{ static }}/theme/images/george-birkbeck-portrait-samuel-lane-1830.avif
              "
              type="image/avif"
            />
            <img
              src="{{ static }}/theme/images/george-birkbeck-portrait-samuel-lane-1830.png"
              alt=""
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-right-box animated">
    <div class="text-circle ff-space-mono-regular animated">
      <div class="george-text animated">
        <div class="sr-only">
          Animation slide 1: An 1830 portrait of George Birkbeck gazing steadily
          forward with poise, surrounded by bright colorful circles.
        </div>
        <p>
          Founded by academics and technologists at Birkbeck, University of
          London.
        </p>
      </div>
      <div class="space-text animated">
        <div class="sr-only">
          Animation slide 2: A satellite photo of bright stars and clouds in far
          outer space, shimmering through a rust-colored portal.
        </div>
        <p>
          Built for the future of scholarly communications by the Open Library
          of Humanities.
        </p>
      </div>
    </div>
  </div>
  <div class="medium-circle-one bg-alpha-blue"></div>
  <div class="medium-circle-two bg-alpha-blue play-pause">
    <button>
      <span class="triangle">
        <span class="sr-only">Play animation</span>
      </span>
      <span class="bar">
        <span class="sr-only">Pause animation</span>
      </span>
      <span class="bar"></span>
    </button>
  </div>
  <div
    class="tiny-circle bg-alpha-blue ff-space-mono-bold fs-3 animated select-slide-1"
  >
    <button aria-label="Show slide 1">1</button>
  </div>
  <div
    class="tiny-circle bg-alpha-blue ff-space-mono-bold fs-3 animated select-slide-2"
  >
    <button aria-label="Show slide 2">2</button>
  </div>
  <div class="small-circle bg-alpha-blue animated"></div>
</section>
