<div class="journal-cover-grid not-prose">
  <a href="https://politicalphilosophyjournal.org/" target="_blank">
    <picture>
      <source
        srcset="
          {{ static }}/theme/images/journal-covers/poli-phil-a5-560-794.avif
        "
        type="image/avif"
      />
      <img
        src="{{ static }}/theme/images/journal-covers/poli-phil-a5-560-794.png"
        alt="Political Philosophy"
        width="348"
        loading="lazy"
        decoding="async"
      />
    </picture>
  </a>
  <a href="https://intransition.openlibhums.org/" target="_blank">
    <picture>
      <source
        srcset="
          {{ static }}/theme/images/journal-covers/intransition-a5-560-794.avif
        "
        type="image/avif"
      />
      <img
        src="{{ static }}/theme/images/journal-covers/intransition-a5-560-794.png"
        alt="In Transition: Journal of Videographic Film & Moving Image Studies"
        width="348"
        loading="lazy"
        decoding="async"
      />
    </picture>
  </a>
  <a href="https://www.theoryandsocialinquiry.org/" target="_blank">
    <picture>
      <source
        srcset="{{ static }}/theme/images/journal-covers/tsi-a5-560-794.avif"
        type="image/avif"
      />
      <img
        src="{{ static }}/theme/images/journal-covers/tsi-a5-560-794.png"
        alt="Theory and Social Inquiry"
        width="348"
        loading="lazy"
        decoding="async"
      />
    </picture>
  </a>
  <a href="https://www.iastatedigitalpress.com/mmb/" target="_blank">
    <picture>
      <source
        srcset="{{ static }}/theme/images/journal-covers/mmb-a5-560-794.avif"
        type="image/avif"
      />
      <img
        src="{{ static }}/theme/images/journal-covers/mmb-a5-560-794.png"
        alt="Meat and Muscle Biology: The official journal of the American Meat Science Association"
        width="348"
        loading="lazy"
        decoding="async"
      />
    </picture>
  </a>
  <a href="https://freeandequaljournal.org/" target="_blank">
    <picture>
      <source
        srcset="
          {{ static }}/theme/images/journal-covers/free-equal-a5-560-794.avif
        "
        type="image/avif"
      />
      <img
        src="{{ static }}/theme/images/journal-covers/free-equal-a5-560-794.png"
        alt="Free &amp; Equal: A Journal of Ethics and Public Affairs"
        width="348"
        loading="lazy"
        decoding="async"
      />
    </picture>
  </a>
  <a href="https://zif.tujournals.ulb.tu-darmstadt.de/" target="_blank">
    <picture>
      <source
        srcset="{{ static }}/theme/images/journal-covers/zif-a5-560-794.avif"
        type="image/avif"
      />
      <img
        src="{{ static }}/theme/images/journal-covers/zif-a5-560-794.png"
        alt="Zeitschrift für Interkulturellen Fremdsprachenunterricht – MehrSprachen Lehren und Lernen"
        lang="de"
        width="348"
        loading="lazy"
        decoding="async"
      />
    </picture>
  </a>
</div>
