.journal-cover-grid {
  display: grid;
  gap: var(--space-s);
  grid-template-columns: 1fr 1fr;
  img {
    width: 100%;
  }
}
@media (width > 50rem) {
  .journal-cover-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
