{% macro _li() %}
  <li>
    {% include "svg/tick-icon.svg" %}
    {{ caller() }}
  </li>
{% endmacro %}

<div class="key-features flow flow-first-child">
  <h2 id="key-features">Key features</h2>
  <ul>
    {% call _li() %}
      Customisable submissions
    {% endcall %}
    {% call _li() %}
      Open, anonymous and triple anonymous review
    {% endcall %}
    {% call _li() %}
      Copyediting and typesetting
    {% endcall %}
    {% call _li() %}
      Support for articles in JATS XML, PDF and HTML
    {% endcall %}
    {% call _li() %}
      Metadata standards
    {% endcall %}
    {% call _li() %}
      File version control
    {% endcall %}
    {% call _li() %}
      Assignable roles
    {% endcall %}
    {% call _li() %}
      Email templates
    {% endcall %}
    {% call _li() %}
      Repository system
    {% endcall %}
    {% call _li() %}
      Archiving and discovery support
    {% endcall %}
    {% call _li() %}
      GDPR compliance
    {% endcall %}
    {% call _li() %}
      Security and privacy
    {% endcall %}
  </ul>
</div>
