{# A component to display the main navigation. #}
{% from "components/laser_link.html" import laser_link %}

{% macro main_nav(LEFT_NAV_ITEMS, RIGHT_NAV_ITEMS) -%}
  <nav id="main-nav" class="main-nav">
    <div class="nav-container">
      <div class="left">
        <ul>
          {% for title, link in LEFT_NAV_ITEMS %}
            <li>
              {% call laser_link(href=link) %}
                {{ title }}
              {% endcall %}
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="logo">
        <a href="/">
          <img
            src="{{ static }}/theme/images/logo/janeway-logo-white.svg"
            alt="Janeway Logo"
            width="128"
          />
        </a>
      </div>
      <div class="right">
        <ul>
          {% for title, link in RIGHT_NAV_ITEMS %}
            <li>
              {% call laser_link(href=link) %}
                {{ title }}
              {% endcall %}
            </li>
          {% endfor %}
        </ul>
        <button
          class="slide-drawer"
          id="slide-drawer"
          aria-label="Toggle the navigation menu"
        >
          <img src="{{ static }}/theme/images/menu.svg" alt="" />
        </button>
      </div>
    </div>

    <!-- Combined menu for the slide drawer navigation. -->
    <div class="combined-menu">
      <ul>
        {% for title, link in LEFT_NAV_ITEMS %}
          <li>
            <a href="{{ link }}"> {{ title }} </a>
          </li>
        {% endfor %}
        {% for title, link in RIGHT_NAV_ITEMS %}
          <li>
            <a href="{{ link }}"> {{ title }} </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </nav>
{%- endmacro %}
