{# The main product site footer #}
{% from "components/laser_link.html" import laser_link %}
{% from "components/link_list.html" import link_list %}
{% from "components/button.html" import button %}

<div class="main-footer">
  <div class="circle-wrapper-top">
    <svg
      class="circle circle-top"
      xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true"
    >
      <circle class="circle-path-blue" cx="50" cy="50" r="40" />
    </svg>
  </div>
  <div
    class="grid place-items-center-large place-items-start-small flow
    flow-first-child gap-0-5"
  >
    <p class="footer-title">Follow a new way</p>
    <p>Get the latest information on Janeway development and training.</p>
    {%
      call button(
        volume="loud",
        link="https://forms.office.com/Pages/ResponsePage.aspx?id=R3_QiVjSPEaHAGNf-uyjjoRElTXNbC1BhWwR3IwusVpURUo2WE1QVkI5QVg1SkQwSU1JNTJWSTYzQS4u",
        target="_blank",
        parent_text_color="white",
        parent_background_color="black"
      )
    %}
      Sign up to our mailing list
    {% endcall %}
    {% call link_list() %}
      <li>
        {% call laser_link(href="https://bsky.app/profile/janewayolh.bsky.social", target="_blank") %}
          Bluesky
        {% endcall %}
      </li>
      <li>
        {% call laser_link(href="https://fed.brid.gy/bsky/janewayolh.bsky.social", target="_blank") %}
          Mastodon
        {% endcall %}
      </li>
      <li>
        {% call laser_link(href="https://github.com/openlibhums/janeway", target="_blank") %}
          GitHub
        {% endcall %}
      </li>
    {% endcall %}
  </div>
  <div class="circle-wrapper-bottom">
    <svg
      class="circle circle-bottom"
      xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true"
    >
      <circle class="circle-path-red" cx="50" cy="50" r="50" />
    </svg>
  </div>
  <div class="signature-wrapper">{% include "components/signature.html" %}</div>
  {% call link_list() %}
    {% for title, link, target in FOOTER_LINKS %}
      <li>
        {% call laser_link(href=link, target=target) %}
          {{ title }}
        {% endcall %}
      </li>
    {% endfor %}
  {% endcall %}
  {% include "components/licensing_line.html" %}
</div>
