.new-way-slogan {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .text {
    padding: var(--space-3xs);
    font-family: var(--ff-space-mono-regular);
    font-size: var(--step-4);
  }
  .text p {
    font-size: var(--step-4);
  }
  .signature-wrapper {
    margin-block-start: var(--space-xs);
    max-width: 16rem;
    font-size: var(--step-3);
  }
  .text,
  .signature-wrapper {
    padding: var(--space-3xs);
    --clr-background: var(--clr-alpha-black);
    background: var(--clr-background);
    border-radius: var(--step-3);
  }
  h2::after {
    content: "_" / "";
    animation-duration: 600ms;
    animation-timing-function: steps(2, jump-none);
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-name: blink;
  }

}
@media (width <= 50rem) {
  .large-screen-slogan .new-way-slogan {
    display: none;
  }
  .small-screen-slogan .page-section {
    display: block;
    .text,
    .signature-wrapper {
      --clr-background: var(--clr-alpha-blue);
      background: var(--clr-background);
      max-width: none;
      text-align: left;
    }
  }
}
@media (width > 50rem) {
  .small-screen-slogan .page-section {
    display: none;
  }
  .large-screen-slogan .new-way-slogan {
    display: flex;
  }
  .large-screen-slogan .new-way-slogan {
    position: absolute;
    bottom: 15rem;
    left: 0;
  }
}
