.page-h1 {
  h1 {
    padding-block-start: var(--space-2xl);
    padding-block-end: var(--space-l);
    max-width: var(--max-char-width);
  }
  .h1-text::after {
    content: "_" / "";
    animation-duration: 600ms;
    animation-timing-function: steps(2, jump-none);
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-name: blink;
  }
}
