.page-section {
  /* Set a background pane on each side of the content
   * so the same color extends to the edge of the screen,
   * despite the constraint of the container */
  position: relative;
  .background-pane-left,
  .background-pane-right {
    top: 0px;
    bottom: 0px;
    width: 50vw;
    position: absolute;
    z-index: 5;
  }
  .background-pane-left {
    right: 50%;
  }
  .background-pane-right {
    left: 50%;
  }

  /* Hide the background pane when this section is arranged
   * to the right or left of another section */
  &.layout-left .background-pane-right,
  &.layout-right .background-pane-left {
    @media (width > 50rem) {
      display: none;
    }
  }

  /* When the page section has an arbitrary height,
   * like when it's placed at half width inside a page section group,
   * sometimes we want to vertically center content.
   * So we make sure that all frames use full height. */
  .section,
  .frame {
    height: 100%;
  }

  /* Content should have padding above and below */
  --frame-padding: var(--space-xl);
  .frame {
    position: relative;
    z-index: 10;
  }
  &:not(.layout-full-small) .frame {
    padding-block: var(--frame-padding);
  }

  /* Content should have same padding to the left or right
   * when it's half-width on wide screens */
  @media (width > 50rem) {
    &.layout-left .frame {
      padding-inline-end: var(--frame-padding);
    }
    &.layout-right .frame {
      padding-inline-start: var(--frame-padding);
    }
  }
  &.layout-full-small {
    @media (width <= 50rem) {
      margin-inline: calc(0rem - 50vw + 50%);
    }
  }
  @media (width <= 50rem) {
    &.same-bg .frame {
      padding-block-start: 0;
    }
  }
}
