.page-section-group {
  display: flex;
  /* On larger screens this group should divide its contents into left and right halves */
  @media (orientation: landscape) {
    & > * {
      flex-basis: 50%;
    }
  }
  /* On mobile screens this group should arrange its contents vertically */
  @media (orientation: portrait) {
    flex-direction: column;
  }
  /* On all screen sizes, a nested page section group should arrange
   * its contents vertically */
  .page-section-group {
    flex-direction: column;
  }
}
