.rendered-heading {
  text-wrap: balance;
  &.level-1 {
    --flow-space: var(--flow-space-h1);
    --link-font-size: var(--font-size-h1);
  }
  &.level-2 {
    --flow-space: var(--flow-space-h2);
    --link-font-size: var(--font-size-h1);
  }
  &.level-2 {
    --flow-space: var(--flow-space-h2);
    --link-font-size: var(--font-size-h2);
  }
  &.level-3 {
    --flow-space: var(--flow-space-h3);
    --link-font-size: var(--font-size-h3);
  }
  &.level-4 {
    --flow-space: var(--flow-space-h4);
    --link-font-size: var(--font-size-h4);
  }
  &.level-5 {
    --flow-space: var(--flow-space-h5);
    --link-font-size: var(--font-size-h5);
  }
  &.level-6 {
    --flow-space: var(--flow-space-h6);
    --link-font-size: var(--font-size-h6);
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: inline;
    text-wrap: unset;
    margin-inline-end: calc(var(--link-font-size) / 3);
  }
  .section-link,
  .document-link {
    font-size: var(--link-font-size);
  }
  .section-link svg,
  .document-link svg {
    color: var(--clr-background);
    display: inline;
    vertical-align: baseline;
    height: 1em;
    width: 1em;
    margin-block-end: -0.25rem;
  }
  &:hover .section-link svg,
  :target ~ .section-link svg,
  .section-link:focus-visible svg,
  &:hover .document-link svg,
  :target ~ .document-link svg,
  .document-link:focus-visible svg {
    color: var(--clr-foreground);
  }
}
