.slide-gallery {

  position: relative;
  max-width: 48rem;
  margin: auto;

  button {
    background: inherit;
    border: none;
    padding-inline: 0;
    cursor: pointer;
  }
  ul {
    margin: 0;
    padding: 0;
  }

  .arrow-container {
    @media(width <= 50rem) {
      padding-inline: var(--space-xs);
    }
    @media(width > 50rem) {
      display: grid;
      grid-template-columns: var(--space-3xl) auto var(--space-3xl);
    }
  }
  .scroll-container {
    display: block;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
  }

  /* Hide the scrollbar since we have a tab menu */
  .scroll-container {
    scrollbar-width: none; /* Chrome, Edge, Firefox */
  }
  .scroll-container::-webkit-scrollbar {
    display: none;
  }

  .slide-container {
    display: flex;
  }

  .slide {
    padding-top: var(--frame-padding);
    padding-bottom: var(--space-xs);
    padding-inline: calc(var(--frame-padding) - var(--space-xs));
    flex: 0 0 auto;
    scroll-snap-align: start;
    max-width: 100%;
  }
  .previous-slide,
  .next-slide {
    @media(width <= 50rem) {
      display: none;
    }
  }

  .previous-slide-button,
  .next-slide-button {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .previous-slide-button.hidden,
  .next-slide-button.hidden {
    display: none;
  }

  .previous-slide-button svg,
  .next-slide-button svg {
    width: max-content;
    color: var(--clr-tan);
    margin-inline: var(--space-xs);
    opacity: 50%;
    max-width: var(--step-5);
  }
  .previous-slide:hover svg,
  .next-slide:hover svg {
    opacity: 100%;
  }
  .slide:not(:first-child) .no-previous-slide,
  .slide:not(:last-child) .no-next-slide {
    display: none;
  }
  .slide:first-child .previous-slide,
  .slide:last-child .next-slide {
    display: none;
  }
  .label-wrapper {
    display: flex;
    gap: 1rem;
    color: var(--clr-black);
  }
  .label {
    background-color: var(--clr-rust);
    padding-block: 0.5rem;
    padding-inline: var(--space-xs);
    font-size: var(--step-2);
    border-radius: 5rem;
  }
  .slide-content {
    height: 100%;
  }
  --circle-padding: var(--space-s);
  .slide-nav {
    padding-bottom: calc(var(--frame-padding) - var(--circle-padding));
  }
  .slide-nav-tablist {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tablist-button .circle {
    width: 1.3rem;
    height: 1.3rem;
    margin: var(--circle-padding);
    background: var(--clr-tan);
    border-radius: 50%;
    opacity: 50%;
  }
  .tablist-button:hover .circle,
  .tablist-button.selected .circle {
    opacity: 100%;
  }
}
