.speak-to-us {
  height: 100%;
  display: grid;
  place-content: center;
  padding-block: 3rem;
  a {
    text-decoration: none;
  }
  .alpha-icon {
    width: 10rem;
    height: unset;
  }
  .link-frame {
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
    align-items: start;
  }
  .text {
    padding: var(--space-s);
    color: var(--clr-alpha-blue);
    background: var(--clr-alpha-white);
    margin-left: var(--space-3xl);
    font-size: var(--step-7);
    font-family: var(--ff-mono-regular);
    line-height: 1.1;
    max-width: 7ch;
    text-align: center;
  }
}
