{% from "components/prose_columns.html" import prose_columns, column %}

{# The support site footer #}

{% macro h3(href="") -%}
  {% if href %}
    <h3><a href="{{ SITEURL }}/pages/support/{{ href }}">{{ caller() }}</a></h3>
  {% else %}
    <h3>{{ caller() }}</h3>
  {% endif %}
{%- endmacro %}

{% macro list() -%}
  <ul>
    {{ caller() }}
  </ul>
{%- endmacro %}

{% macro item(href="") -%}
  <li>
    {% if href %}
      <a href="{{ SITEURL }}/pages/support/{{ href }}"> {{ caller() }} </a>
    {% else %}
      {{ caller() }}
    {% endif %}
  </li>
{%- endmacro %}

<div class="support-footer flow">
  {% if output_file != "pages/support/all-support-pages.html" %}
    <div class="mega-menu flow flow-first-child">
      <h2>Read more</h2>
      {% call prose_columns(column_gap="column-gap-3") %}
        {% call column() %}
          {% call h3() %}
            Guides
          {% endcall %}
          {% call list() %}
            {% call item(href="guides/index.html") %}
              All guides
            {% endcall %}
            {% call item(href="guides/editor-guide-overview.html") %}
              Editor workflow guide
            {% endcall %}
            {% call item(href="guides/journal-setup.html") %}
              Setting up a journal
            {% endcall %}
          {% endcall %}
          {% call h3() %}
            Journal management
          {% endcall %}
          {% call list() %}
            {% call item (href="journal-management/index.html") %}
              Journal management overview
            {% endcall %}
            {% call item(href="accessibility/index.html") %}
              Accessibility
            {% endcall %}
            {% call item(href="analytics/index.html") %}
              Analytics
            {% endcall %}
            {% call item(href="journal-management/image-guidelines.html") %}
              Image guidelines
            {% endcall %}
          {% endcall %}
          {% call h3() %}
            Press management
          {% endcall %}
          {% call list() %}
            {% call item(href="press-management/index.html") %}
              Press management overview
            {% endcall %}
            {% call item(href="press-management/journal-management-press-level.html") %}
              Setting journal defaults
            {% endcall %}
            {% call item(href="press-management/doi-management-at-press-level.html") %}
              DOI management
            {% endcall %}
          {% endcall %}
        {% endcall %}
 
        {% call column() %}
          {% call h3() %}
            Accounts and roles
          {% endcall %}
          {% call list() %}
            {% call item(href="accounts-and-roles/index.html") %}
              Accounts and roles overview
            {% endcall %}
            {% call item(href="accounts-and-roles/managing-user-accounts.html") %}
              Managing user accounts
            {% endcall %}
            {% call item(href="accounts-and-roles/activating-accounts.html") %}
              Activating accounts
            {% endcall %}
            {% call item(href="guides/account-troubleshooting.html") %}
              Account troubleshooting
            {% endcall %}
          {% endcall %}

          {% call h3() %}
            Articles
          {% endcall %}
          {% call list() %}
            {% call item(href="article-management/index.html") %}
              Articles overview
            {% endcall %}
            {% call item(href="article-management/articles-management.html") %}
              Article management
            {% endcall %}
            {% call item(href="identifiers/index.html") %}
              Identifiers
            {% endcall %}
            {% call item(href="issues-volumes-and-collections/index.html") %}
              Issues and volumes
            {% endcall %}
          {% endcall %}
        {% endcall %}

        {% call column() %}
          

          {% call h3(href="review/index.html") %}
            Review
          {% endcall %}
          {% call list() %}
            {% call item(href="review/review-settings.html") %}
              Review settings
            {% endcall %}
            {% call item(href="review/review-forms.html") %}
              Review forms
            {% endcall %}
          {% endcall %}
        {% endcall %}

        {% call column() %}

          {% call h3() %}
            Repository
          {% endcall %}
          {% call list() %}
            {% call item(href="repository/index.html") %}
              Repository overview
            {% endcall %}
          {% endcall %}

          {% call h3() %}
            Email and reminders
          {% endcall %}
          {% call list() %}
            {% call item(href="email-and-reminders/index.html") %}
              Emails and reminders - overview
            {% endcall %}
            {% call item(href="email-and-reminders/scheduling-reminders.html") %}
              Email reminders
            {% endcall %}
            {% call item(href="email-and-reminders/email-logs.html") %}
              Email logs
            {% endcall %}
            {% call item(href="email-and-reminders/email-templates.html") %}
              Email templates
            {% endcall %}
          {% endcall %}
        {% endcall %}
      {% endcall %}
    </div>
    <p class="fs-3">
      Can't find what you are looking for? Look on the list of
      <a href="{{ SITEURL }}/pages/support/all-support-pages.html"
        >all support pages</a
      >.
    </p>
  {% endif %}
  <div class="logo">{% include "svg/janeway-logo-foreground.svg" %}</div>
  {% include "components/licensing_line.html" %}
</div>
