.support-footer {
  .mega-menu h2 {
    --flow-space: var(--space-2xl);
  }
  .mega-menu a {
    text-decoration: none;
  }
  .mega-menu h3 {
    --flow-space: var(--space-m);
    font-family: var(--ff-poppins-medium);
    font-size: var(--step-3);
  }
  .mega-menu ul {
    --flow-space: 0;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .mega-menu li {
    padding-block-start: var(--space-2xs);
    font-size: var(--step-2);
  }
  .logo svg {
    height: 4rem;
  }
  margin-block-end: var(--space-s);
}
