.tick-list {
  ul {
    list-style: none;
    line-height: 2;
    padding-inline-start: 0;
    column-gap: var(--space-xl);
  }
  li {
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: 2rem auto;
    gap: 1rem;
  }
  li svg {
    margin-top: var(--space-3xs);
    width: var(--step-5);
    height: unset;
  }
}
@media (width > 50rem) {
  .tick-list ul {
    columns: 2;
  }
}
@media (width > 70rem) {
  .tick-list ul {
    columns: 3;
  }
}
