.tick-list {
  ul {
    list-style: none;
    padding-inline-start: 0;
    column-gap: var(--space-xl);
  }
  li {
    break-inside: avoid;
  }
  .tick-item {
    padding-inline-start: var(--space-xs);
    display: grid;
    grid-template-columns: 2rem auto;
    gap: 0.75rem;
  }
  .tick-item svg {
    width: var(--step-5);
    height: unset;
  }
}
@media (width > 50rem) {
  .tick-list.max-columns-2 ul,
  .tick-list.max-columns-3 ul {
    columns: 2;
  }
}
@media (width > 70rem) {
  .tick-list.max-columns-3 ul {
    columns: 3;
  }
}
