.timeline-wheel {

  --start-angle: 170deg;
  --angle: var(--start-angle);
  --increment: 14deg;
  --tracksize: 4px;
  --side: 96px;
  --apothem: calc(var(--side) / 2);
  --radius: min(40vw, 34rem);
  --full-diameter: calc(var(--radius) * 2 + var(--tracksize));

  position: relative;

  button {
    border: none;
    padding: 0;
    background: transparent;
    cursor: pointer;
  }
  button:focus {
    outline-width: 3px;
    outline-color: var(--clr-tan);
    outline-style: dotted;
  }
  .point-circle {
    width: calc(var(--tracksize) * 6);
    height: calc(var(--tracksize) * 6);
    aspect-ratio: 1;
    border-radius: 50%;
    z-index: 1;
  }
  :not(.selected) .point-circle {
    background: var(--clr-tan);
  }
  .point:hover .point-circle,
  .point.selected .point-circle {
    background: var(--clr-rust);
  }
  :not(.selected) .point-label {
    color: var(--clr-tan);
    opacity: 70%;
  }
  .point:hover .point-label,
  .selected .point-label {
    color: var(--clr-tan);
    opacity: 100%;
  }

  /* Arrow key icons for visual keyboard users */

  .arrow-keyboard {
    display: none;
    position: absolute;
  }
  .arrow-keyboard svg {
    color: var(--clr-tan);
  }

  .arrow-keyboard.up {
    width: 1.6rem;
    left: -2rem;
    top: 0;
  }
  .arrow-keyboard.down {
    width: 1.6rem;
    left: -2rem;
    bottom: 0;
  }
  .arrow-keyboard.left {
    width: 2.2rem;
    bottom: -2.6rem;
    left: 0.6rem;
  }
  .arrow-keyboard.right {
    width: 2.2rem;
    bottom: -2.6rem;
    right: 0.6rem;
  }

  .text-block.selected {
    display: block;
  }
  .text-block:not(.selected) {
    display: none;
  }
  .text-block:focus {
    outline-color: var(--clr-tan);
    outline-width: 3px;
    outline-style: dotted;
  }
  .text-block p {
    font-size: var(--step-3);
  }

  /* On small screens this isn't a wheel but a vertical tablist */

  @media (width <= 50rem) {

    display: grid;
    grid-template-columns: auto auto;
    column-gap: var(--space-xs);

    .wheel {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: relative;
      margin-left: min(6vw, var(--space-l));
    }
    .wheel::before {
      content: '';
      width: calc(2 * var(--tracksize));
      background: var(--clr-tan);
      position: absolute;
      top: calc(var(--space-s) + (2 * var(--tracksize)));
      bottom: calc(var(--space-s) + (2 * var(--tracksize)));
      left: calc(2 * var(--tracksize));
    }
    .point {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      column-gap: var(--space-s);
      padding-block: var(--space-s);
      padding-inline-end: var(--space-xs);
      position: relative;
    }
    .point:hover::after,
    .point.selected::after {
      content: "";
      height: calc(var(--tracksize) / 2);
      width: 8rem;
      background-color: var(--clr-rust);
      position: absolute;
      right: 100%;
      top: calc(50% - var(--tracksize) / 4);
      z-index: 1;
    }
    .point:focus .arrow-keyboard.up,
    .point:focus .arrow-keyboard.down {
      display: block;
    }
    .text-blocks {
      display: grid;
      place-content: center;
    }
    .text-block {
      max-width: 50vw;
    }
    .text-block:focus {
      outline-offset: var(--space-xs);
    }
  }

  /* On large screens this component is laid out as a wheel

  /* Credit: Some trigonometric patterns below were adapted from
   * https://web.dev/articles/css-trig-functions */

  @media (width > 50rem) {
    .wheel {
      width: var(--full-diameter);
      height: calc(var(--full-diameter) / 2);
      aspect-ratio: 1;
      border-radius: var(--full-diameter) var(--full-diameter) 0 0;
      border: var(--tracksize) solid var(--clr-tan);
      border-bottom: none;
      margin: var(--space-xl) auto;
      position: relative;
    }
    .point {
      --angle: calc(var(--start-angle) - (var(--i) * var(--increment)));
      z-index: 1;
      width: var(--side);
      height: var(--side);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      top: calc(100% - var(--apothem));
      left: calc(50% - var(--apothem));
      transform-origin: center;
      transform: rotate(calc(90deg - var(--angle)));
      /* Position around center of parent, by taking --angle into account */
      translate:
        /* Translation on X-axis */
        calc(cos(var(--angle)) * calc(
          var(--radius) + var(--apothem) - var(--tracksize) * 2)
        )
        /* Translation on Y-axis */
        calc(sin(var(--angle) * -1) * calc(
          var(--radius) + var(--apothem) - var(--tracksize) * 2)
        )
      ;
    }
    .point:hover::after,
    .point.selected::after {
      content: "";
      height: 8rem;
      width: calc(var(--tracksize) / 2);
      background-color: var(--clr-rust);
      position: absolute;
      top: 100%;
      left: calc(50% - var(--tracksize) / 4);
      z-index: 1;
    }
    .point:focus .arrow-keyboard.left,
    .point:focus .arrow-keyboard.right {
      display: block;
    }
    .point-label {
      margin-block-start: var(--space-m);
      margin-block-end: var(--space-xs);
    }

    .text-blocks {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      margin-inline: auto;
      margin-block-start: 25%;
      max-width: min(32rem, 70%);
      z-index: 2;
    }
    .text-block {
      background: var(--clr-blue);
      padding: var(--space-s);
    }
    .text-block:focus {
      outline-offset: -4px;
    }
  }
}
