{# A component to tell a story using a timeline that looks like a wheel #}

{% macro _point(year="1234", i="0", state="") %}
  <button
    id="timeline-point-{{ year }}"
    data-point="{{ year }}"
    type="button"
    role="tab"
    tabindex="{% if state == "selected" %}0{% else %}-1{% endif %}"
    aria-selected="{% if state == "selected" %}true{% else %}false{% endif %}"
    aria-controls="timeline-text-block-{{ year }}"
    class="point fs-4 ff-space-mono-regular text-white {{ state }}"
    style="--i: {{ i }};">
    <span class="arrow-keyboard up">
      {% include "svg/noun-arrow-keyboard-up.svg" %}
    </span>
    <span class="arrow-keyboard left">
      {% include "svg/noun-arrow-keyboard-left.svg" %}
    </span>
    <span class="point-label">
      {{ year }}
    </span>
    <span class="arrow-keyboard down">
      {% include "svg/noun-arrow-keyboard-down.svg" %}
    </span>
    <span class="arrow-keyboard right">
      {% include "svg/noun-arrow-keyboard-right.svg" %}
    </span>
    <span class="point-circle"></span>
  </button>
{% endmacro %}

{% macro _block(year="1234", i="0", state="") %}
  <section
    id="timeline-text-block-{{ year }}"
    role="tabpanel"
    data-block="{{ year }}"
    tabindex="0"
    aria-labelledby="timeline-point-{{ year }}"
    class="text-block flow {{ state }}">
    {{ caller() }}
  </section>
{% endmacro %}

<div class="timeline-wheel" data-timeline-wheel>
  <div class="wheel" role="tablist" aria-label="Timeline">
    {{ _point(year="2017", i="0", state="selected") }}
    {{ _point(year="2018", i="1") }}
    {{ _point(year="2019", i="2") }}
    {{ _point(year="2020", i="3") }}
    {{ _point(year="2021", i="4") }}
    {{ _point(year="2022", i="5") }}
    {{ _point(year="2023", i="6") }}
    {{ _point(year="2024", i="7") }}
  </div>
  <div class="text-blocks">
    {% call _block(year="2017", i="0", state="selected") %}
      {{ lipsum(n=1, min=20, max=30) }}
    {% endcall %}
    {% call _block(year="2018", i="1") %}
      {{ lipsum(n=1, min=20, max=30) }}
    {% endcall %}
    {% call _block(year="2019", i="2") %}
      {{ lipsum(n=1, min=20, max=30) }}
    {% endcall %}
    {% call _block(year="2020", i="3") %}
      {{ lipsum(n=1, min=20, max=30) }}
    {% endcall %}
    {% call _block(year="2021", i="4") %}
      {{ lipsum(n=1, min=20, max=30) }}
    {% endcall %}
    {% call _block(year="2022", i="5") %}
      {{ lipsum(n=1, min=20, max=30) }}
    {% endcall %}
    {% call _block(year="2023", i="6") %}
      {{ lipsum(n=1, min=20, max=30) }}
    {% endcall %}
    {% call _block(year="2024", i="7") %}
      {{ lipsum(n=1, min=20, max=30) }}
    {% endcall %}
  </div>
</div>
