.timeline-wheel {
  /* Credit: Some trigonometric patterns below were adapted from
   * https://web.dev/articles/css-trig-functions */

  --start-angle: 170deg;
  --angle: var(--start-angle);
  --increment: 20deg;
  --tracksize: 4px;
  --side: 96px;
  --apothem: calc(var(--side) / 2);
  --radius: min(40vw, 34rem);
  --full-diameter: calc(var(--radius) * 2 + var(--tracksize));

  .wheel {
    width: var(--full-diameter);
    height: calc(var(--full-diameter) / 2);
    aspect-ratio: 1;
    border-radius: var(--full-diameter) var(--full-diameter) 0 0;
    border: var(--tracksize) solid var(--clr-tan);
    border-bottom: none;
    margin: var(--space-xl) auto;
    position: relative;
  }
  .point {
    --angle: calc(var(--start-angle) - (var(--i) * var(--increment)));
    border: none;
    z-index: 1;
    padding-inline: unset;
    background: transparent;
    width: var(--side);
    height: var(--side);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    position: absolute;
    top: calc(100% - var(--apothem));
    left: calc(50% - var(--apothem));
    transform-origin: center;
    transform: rotate(calc(90deg - var(--angle)));

    /* Position around center of parent, by taking --angle into account */
    translate:
      /* Translation on X-axis */
      calc(cos(var(--angle)) * calc(
        var(--radius) + var(--apothem) - var(--tracksize) * 2)
      )
      /* Translation on Y-axis */
      calc(sin(var(--angle) * -1) * calc(
        var(--radius) + var(--apothem) - var(--tracksize) * 2)
      )
    ;
  }
  .point-circle {
    width: calc(var(--tracksize) * 6);
    aspect-ratio: 1;
    border-radius: 50%;
    z-index: 1;
  }
  :not(.selected) .point-circle {
    background: var(--clr-tan);
  }
  .point:hover .point-circle,
  .point.selected .point-circle {
    background: var(--clr-rust);
  }
  .point:hover::after,
  .point.selected::after {
    content: "";
    height: 8rem;
    width: calc(var(--tracksize) / 2);
    background-color: var(--clr-rust);
    position: absolute;
    top: 100%;
    left: calc(50% - var(--tracksize) / 4);
    z-index: 1;
  }
  .point-label {
    margin-block-start: var(--space-m);
    margin-block-end: var(--space-xs);
  }
  :not(.selected) .point-label {
    opacity: 70%;
  }
  .point:hover .point-label,
  .selected .point-label {
    opacity: 100%;
  }
  .point-text {
    margin-block-start: 25%;
    margin-inline: auto;
    background: var(--clr-blue);
    padding: var(--space-s);
    max-width: min(40rem, 70%);
    z-index: 2;
    position: relative;
  }
  .point-text p {
    font-size: var(--step-4);
  }
  .selected + .point-text {
    display: block;
  }
  :not(.selected) + .point-text {
    display: none;
  }
}
