{% from "components/installation_map.html" import installation_map %}
{% from "components/page_h1.html" import page_h1 %}
{% from "components/page_section.html" import page_section %}
{% from "components/page_section_group.html" import page_section_group %}
{% from "components/slide_gallery.html" import slide_gallery, slide %}
{% from "components/tick_list.html" import tick_list, tick_list_item %}
{% from "components/quote_by.html" import quote_by %}

<head>
  <title>Hosting</title>
</head>
<body>
  {% include "components/hosting_splash.html" %}
  {% call page_section(labelledby="ideal-for", bg="bg-alpha-white") -%}
    <h2 id="ideal-for" class="sr-only">Ideal for</h2>
    <p class="fs-6 ff-space-mono-regular">
      Janeway is ideal for library publishers and university presses that manage
      journals.
    </p>
    <p>
      Many independent and society journals have also found a home on the
      platform.
    </p>
  {%- endcall %}
  {% call page_section(labelledby="self-hosting", bg="bg-alpha-blue", prose="") -%}
    <h2 id="self-hosting">Self-hosting</h2>
    <p>
      Janeway is free and open-source, and many institutions run it themselves.
      Here's what it takes.
    </p>
    <h3>Someone on your team who can...</h3>
    {% call tick_list() -%}
      {% call tick_list_item() -%}
        Run a stable, secure, and performant Linux web server with tools like
        systemd and nginx.
      {%- endcall %}
      {% call tick_list_item() -%}
        Navigate Git repositories to install Janeway versions and plugins.
      {%- endcall %}
      {% call tick_list_item() -%}
        Deploy a Python Django web application.
      {%- endcall %}
      {% call tick_list_item() -%}
        Install and run a PostgreSQL database securely.
      {%- endcall %}
      {% call tick_list_item() -%}
        Manage domains and subdomains for the publisher and optionally for each
        journal.
      {%- endcall %}
      {% call tick_list_item() -%}
        Follow docs to set up integrations for services like email, ORCID, OIDC,
        Crossref, Datacite, and CAPTCHA.
      {%- endcall %}
      {% call tick_list_item() -%}
        Answer first-line support questions from editors and authors.
      {%- endcall %}
      {% call tick_list_item() -%}
        Provide on-call coverage for outages or security issues.
      {%- endcall %}
    {%- endcall %}
    <h3>Funding for...</h3>
    {% call tick_list(max_columns=1) -%}
      {% call tick_list_item() -%}
        Server compute and storage space
      {%- endcall %}
      {% call tick_list_item() -%}
        Domains
      {%- endcall %}
      {% call tick_list_item() -%}
        Third-party services like DOI deposit
      {%- endcall %}
    {%- endcall %}
  {%- endcall %}
  {% call page_section(labelledby="janeway-installations", bg="bg-alpha-black") -%}
    <h2 id="janeway-installations">Where Janeway can be found</h2>
    <p>
      We host Janeway for dozens of publishers, mainly in Europe and North
      America. Our platform is also run independently by a growing number of
      universities and research institutions.
    </p>
    <p>(Don't see your Janeway site on the list? Drop us a note.)</p>
    <div class="not-prose flow flow-first-child">
      {{ installation_map(svg_path="svg/europe_map.svg", continent="Europe") }}
      {{ installation_map(svg_path="svg/north_america_map.svg", continent="North America") }}
      {# {{ installation_map(svg_path="svg/australia_map.svg", continent="Oceania") }} #}
    </div>
  {%- endcall %}
  {% call page_section_group() %}
    {%
      call page_section(
      labelledby="hosted-services",
      bg="bg-alpha-white",
      layout="layout-left"
      )
    -%}
      <h2 id="hosted-services">Hosted services</h2>
      <p>
        By signing up for paid hosting, you get everything you need to run
        Janeway and support others using it, from content migration to technical
        provision to ongoing support.
      </p>
      {% call tick_list(max_columns=1) %}
        {% call tick_list_item() %}
          Your own Janeway instance
        {% endcall %}
        {% call tick_list_item() %}
          A website for each journal or repository
        {% endcall %}
        {% call tick_list_item() %}
          A website for the publisher
        {% endcall %}
        {% call tick_list_item() %}
          Regular patches and upgrades
        {% endcall %}
        {% call tick_list_item() %}
          Domain registration and management
        {% endcall %}
        {% call tick_list_item() %}
          Recorded training sessions
        {% endcall %}
        {% call tick_list_item() %}
          Unlimited data storage
        {% endcall %}
        {% call tick_list_item() %}
          Data backup and recovery
        {% endcall %}
        {% call tick_list_item() %}
          Unlimited user accounts
        {% endcall %}
        {% call tick_list_item() %}
          Unlimited articles
        {% endcall %}
        {% call tick_list_item() %}
          Live support via email and Discord
        {% endcall %}
        {% call tick_list_item() %}
          Basic theme customization
        {% endcall %}
        {% call tick_list_item() %}
          Plugin installation and support
        {% endcall %}
        {% call tick_list_item() %}
          Access to test journals and repositories
        {% endcall %}
        {% call tick_list_item() %}
          Management of DOI registration on your Crossref or Datacite account
        {% endcall %}
        {% call tick_list_item() %}
          Indexing and discovery workflow management
        {% endcall %}
      {% endcall %}
    {%- endcall %}
    {%
      call page_section(
      labelledby="pricing",
      bg="bg-alpha-blue",
      layout="layout-right"
      )
    -%}
      {% set migration_fee_min = 300 %}
      {% set migration_fee_max = 2500 %}
      {% set journal_fee = 1200 %}
      {% set six_ten_discount = 0.75 %}
      {% set eleven_up_discount = 0.65 %}
      {% set repository_fee = 1100 %}
      <h2 id="pricing">Pricing</h2>
      <p>
        Our pricing varies to fit your needs. All prices here are in GBP and
        exclude VAT.
      </p>
      <h3>Annual fees and bulk discounts</h3>
      <p>
        Our annual fee per journal is £{{ journal_fee|round|int }} for the first
        5 journals, then £{{ (journal_fee * six_ten_discount)|round|int }} for
        journals 6-10, and then
        £{{ (journal_fee * eleven_up_discount)|round|int }} for journals 11 and
        up.
      </p>
      <p>
        The standard annual fee per repository is
        £{{ repository_fee|round|int }}.
      </p>
      <h3>One-time costs</h3>
      <p>
        Content migration costs vary from £{{ migration_fee_min }} for a single
        journal to £{{ migration_fee_max }} for a large press.
      </p>
      <p>
        We sometimes have capacity to adapt Janeway to special workflows or
        integrations. This custom development work is priced by the project.
      </p>
      <h3>Editorial and production services</h3>
      <p>
        If you want to publish JATS XML or professionally typeset PDFs, we can
        recommend a trusted vendor to provide encoding and typesetting.
      </p>
      <p>
        We can also make recommendations for copyediting and managing editor
        services.
      </p>
      <p>
        They can work within your Janeway installation using the editor,
        copyeditor or typesetter role.
      </p>
    {%- endcall %}
  {%- endcall %}
  {% call page_section(bg="bg-alpha-white", labelledby="client-quotes", layout="layout-full-small", prose="") %}
    <h2 id="client-quotes" class="sr-only">Client quotes</h2>
    {% call slide_gallery(num_slides=3) -%}
      {% call slide(num=1) -%}
        <blockquote tabindex="0" class="fs-4 ff-space-mono-regular">
          "The first thing to know about Janeway is that it is not just a
          submission system and platform. It is a complete publishing tool that
          allows the editors to basically operate as . . . a publisher. That
          makes it hugely empowering."
        </blockquote>
        {% call quote_by() -%}
          <p>
            <strong>Johan Rooryck</strong> <br />
            Editor-in-chief of <i>Glossa</i> and former executive director of
            cOAlition S
          </p>
        {%- endcall %}
      {%- endcall %}
      {% call slide(num=2) -%}
        <blockquote tabindex="0" class="fs-4 ff-space-mono-regular">
          "Often scaling means asking people to do more repetitive tasks which
          are not intellectually engaging. Using Janeway has allowed us to scale
          but not at the expense of our people. It has made our team’s jobs
          better, more satisfying, more engaging, rather than more automated."
        </blockquote>
        {% call quote_by() -%}
          <p>
            <strong>Jason Colman</strong> <br />
            Director of Michigan Publishing Services
          </p>
        {%- endcall %}
      {%- endcall %}
      {% call slide(num=3) -%}
        <blockquote tabindex="0" class="fs-4 ff-space-mono-regular">
          "Janeway is the most intuitive platform I have seen in terms of user
          experience, and it was the only platform to offer all the features we
          were keen to have. The team behind Janeway were a pleasure to work
          with and are very open to working collaboratively on the platform,
          which makes a big difference."
        </blockquote>
        {% call quote_by() -%}
          <p>
            <strong>Megan Taylor</strong> <br />
            Former press manager at University of Huddersfield Press
          </p>
        {%- endcall %}
      {%- endcall %}
    {%- endcall %}
  {%- endcall %}
  {%
    call page_section(
    labelledby="get-a-quote",
    bg="bg-alpha-yellow",
    prose="",
    )
  %}
    {% set speak_to_us="Get a quote" %}
    {% include "components/speak_to_us.html" %}
  {% endcall %}
</body>
