<head>
  <title>Icons</title>
</head>
<body>
  <div class="flow">
    <h1>Icons</h1>
    <p>
      This is a hidden page to show how the icons show up with the theme
      colours.
    </p>
    <div
      class="grid auto bg-alpha-white text-alpha-black"
      style="
        --auto-grid-min-size: 10rem;
        padding: 1rem;
      "
    >
      <div>
        {% include "svg/icons/about-us-our-story.svg" %}
        <p>about-us-our-story.svg</p>
      </div>
      <div>
        {% include "svg/icons/accessibility.svg" %}
        <p>accessibility.svg</p>
      </div>
      <div>
        {% include "svg/icons/archiving-and-preservation.svg" %}
        <p>archiving-and-preservation.svg</p>
      </div>
      <div>
        {% include "svg/icons/blog.svg" %}
        <p>blog.svg</p>
      </div>
      <div>
        {% include "svg/icons/book-a-demo.svg" %}
        <p>book-a-demo.svg</p>
      </div>
      <div>
        {% include "svg/icons/book-hosting.svg" %}
        <p>book-hosting.svg</p>
      </div>
      <div>
        {% include "svg/icons/bug-reports.svg" %}
        <p>bug-reports.svg</p>
      </div>
      <div>
        {% include "svg/icons/code.svg" %}
        <p>code.svg</p>
      </div>
      <div>
        {% include "svg/icons/copyediting-workflow.svg" %}
        <p>copyediting-workflow.svg</p>
      </div>
      <div>
        {% include "svg/icons/customizable-roles.svg" %}
        <p>customizable-roles.svg</p>
      </div>
      <div>
        {% include "svg/icons/customizable-themes.svg" %}
        <p>customizable-themes.svg</p>
      </div>
      <div>
        {% include "svg/icons/design.svg" %}
        <p>design.svg</p>
      </div>
      <div>
        {% include "svg/icons/doi-and-orcid-support.svg" %}
        <p>doi-and-orcid-support.svg</p>
      </div>
      <div>
        {% include "svg/icons/edits-typesetting-workflow.svg" %}
        <p>edits-typesetting-workflow.svg</p>
      </div>
      <div>
        {% include "svg/icons/email-templates-and-logs.svg" %}
        <p>email-templates-and-logs.svg</p>
      </div>
      <div>
        {% include "svg/icons/explore.svg" %}
        <p>explore.svg</p>
      </div>
      <div>
        {% include "svg/icons/file-format-support.svg" %}
        <p>file-format-support.svg</p>
      </div>
      <div>
        {% include "svg/icons/guest-editors.svg" %}
        <p>guest-editors.svg</p>
      </div>
      <div>
        {% include "svg/icons/host-with-us.svg" %}
        <p>host-with-us.svg</p>
      </div>
      <div>
        {% include "svg/icons/ideas.svg" %}
        <p>ideas.svg</p>
      </div>
      <div>
        {% include "svg/icons/importing-and-migrating-content.svg" %}
        <p>importing-and-migrating-content.svg</p>
      </div>
      <div>
        {% include "svg/icons/indexing-and-discovery.svg" %}
        <p>indexing-and-discovery.svg</p>
      </div>
      <div>
        {% include "svg/icons/languages.svg" %}
        <p>languages.svg</p>
      </div>
      <div>
        {% include "svg/icons/metadata-standards.svg" %}
        <p>metadata-standards.svg</p>
      </div>
      <div>
        {% include "svg/icons/open-source.svg" %}
        <p>open-source.svg</p>
      </div>
      <div>
        {% include "svg/icons/our-technology.svg" %}
        <p>our-technology.svg</p>
      </div>
      <div>
        {% include "svg/icons/peer-review-workflow.svg" %}
        <p>peer-review-workflow.svg</p>
      </div>
      <div>
        {% include "svg/icons/people.svg" %}
        <p>people.svg</p>
      </div>
      <div>
        {% include "svg/icons/power-to-the-editor.svg" %}
        <p>power-to-the-editor.svg</p>
      </div>
      <div>
        {% include "svg/icons/preprint-servers.svg" %}
        <p>preprint-servers.svg</p>
      </div>
      <div>
        {% include "svg/icons/pre-publication.svg" %}
        <p>pre-publication.svg</p>
      </div>
      <div>
        {% include "svg/icons/publication-checklist.svg" %}
        <p>publication-checklist.svg</p>
      </div>
      <div>
        {% include "svg/icons/publication.svg" %}
        <p>publication.svg</p>
      </div>
      <div>
        {% include "svg/icons/road-map.svg" %}
        <p>road-map.svg</p>
      </div>
      <div>
        {% include "svg/icons/security-and-privacy.svg" %}
        <p>security-and-privacy.svg</p>
      </div>
      <div>
        {% include "svg/icons/support-and-docs.svg" %}
        <p>support-and-docs.svg</p>
      </div>
      <div>
        {% include "svg/icons/translations.svg" %}
        <p>translations.svg</p>
      </div>
      <div>
        {% include "svg/icons/version-control.svg" %}
        <p>version-control.svg</p>
      </div>
      <div>
        {% include "svg/icons/view-live-demo.svg" %}
        <p>view-live-demo.svg</p>
      </div>
    </div>
  </div>
</body>
