{% from "components/page_h1.html" import page_h1 %}
{% from "components/page_section.html" import page_section %}
{% from "components/page_section_group.html" import page_section_group %}
{% from "components/button.html" import button %}
{% from "components/page_section_header.html" import page_section_header_wrapper, page_section_header, page_section_intro_text %}
{% from "components/slide_gallery.html" import slide_gallery, slide, slide_h3 %}
{% from "components/sr_only_h2.html" import sr_only_h2 %}

<head>
  <title>Our Story</title>
</head>
<body>
  {% include "components/george_space_splash.html" %}
  {% call page_h1() -%}
    Our Story
  {%- endcall %}
  {% call page_section(labelledby="how-we-came-into-being", bg="bg-tan", prose="") %}

    {% call page_section_header_wrapper() %}
      {% call page_section_header(id="how-we-came-into-being") %}
        How we came into being
      {% endcall %}
      {% call page_section_intro_text() %}
        Janeway was developed by software engineers at the Open Library of
        Humanities to provide a not-for-profit digital publishing platform.
      {% endcall %}
    {% endcall %}

    {% call page_section_group() %}
      {% call page_section(labelledby="what-is-janeway", bg="bg-tan", layout="layout-left") %}
        <h3 id="what-is-janeway" class="ff-space-mono-bold">
          What is Janeway?
        </h3>
        <p>Janeway is an intuitive and adaptable platform for digital publishing
        that helps you manage manuscript submissions, including review,
        copyediting, typesetting and publication. We founded it on open-source
        principles and will never write paywall features into the software.
        Janeway is released under a copyleft license, which protects it from
        commercial acquisition and ensures that it will remain truly open and
        community-governed.</p>
        <p>We designed Janeway to be sustainable, drawing on the most durable
        and promising web application technologies. The platform is built in
        Python using Django. Python was chosen for its readability and
        flexibility, its vibrant open-source ecosystem of libraries and
        frameworks, and its dedicated communities of developers, scientists,
        and researchers.</p>
      {% endcall %}

      {% call page_section(labelledby="olh", bg="bg-tan", layout="layout-right") %}
        <h3 id="olh" class="ff-space-mono-bold">
          The OLH
        </h3>
        <p>The Open Library of Humanities is an award-winning publisher of
        academic scholarship. The OLH team built Janeway because we wanted to
        replace commercial software and ensure our publishing workflows could
        be entirely open source and not-for-profit. Rather than a publisher
        relying on a technological service provider, we are a university
        publisher that builds its own technology.</p>
        <p>This allows us to draw on our international network of academic
        editors, authors, and reviewers for continual feedback and suggestions
        for improved features and functionality. Building Janeway as a platform
        for our own academic journals has meant we can help other university
        publishers achieve the same goal of investing in not-for-profit
        technology that is sustainable.</p>
      {% endcall %}

    {% endcall %}

    {% call page_section(labelledby="birkbeck", bg="bg-tan", prose="") %}
      <h3 id="birkbeck" class="ff-space-mono-bold">
        Birkbeck
      </h3>
      <p>Our team of expert technologists and humanities scholars are based at
      Birkbeck, University of London. Though we work remotely in different
      countries, our home is the vibrant and leafy Bloomsbury quarter, known as
      the intellectual and literary capital of London and home to some of the
      UK’s most established publishers.</p>
    {% endcall %}

    {% call button(volume="loud", parent_text_color="blue", parent_background_color="tan") %}
      Meet the crew
    {% endcall %}
  {% endcall %}
  {% call sr_only_h2(id="timeline-wheel-h2") -%}
    Timeline
  {%- endcall %}
  {% call page_section(bg="bg-blue", prose="", labelledby="timeline-wheel-h2") %}
    {% include "components/timeline_wheel.html" %}
  {% endcall %}
  {% call sr_only_h2(id="slide-gallery-h2") -%}
    Janeway Axioms
  {%- endcall %}
  {% call page_section(bg="bg-tan", labelledby="slide-gallery-h2", layout="layout-full-small", prose="") %}
    {% call slide_gallery(num_slides=5) -%}
      {% call slide(num=1, label="Axiom") -%}
        {% call slide_h3() -%}
          Never accept paywalls.
        {%- endcall %}
        <p>Remain committed to the open-access nature of the platform. Publicly
        promise never to write paywall features into Janeway.</p>
      {%- endcall %}
      {% call slide(num=2, label="Axiom") -%}
        {% call slide_h3() -%}
          Changes must be open.
        {%- endcall %}
        <p>Develop Janeway in the open (copyleft license AGPL v3), allowing
        anyone to comment on, make feature suggestions for, or contribute to
        the codebase.</p>
      {%- endcall %}
      {% call slide(num=3, label="Axiom") -%}
        {% call slide_h3() -%}
          Drink your own beer.
        {%- endcall %}
        <p>Use the platform you develop. Craft a platform based on real-world
        insights and needs, and share it with others who have the same problems
        to solve.</p>
      {%- endcall %}
      {% call slide(num=4, label="Axiom") -%}
        {% call slide_h3() -%}
          Learn from sci-fi and pop culture.
        {%- endcall %}
        <p>Use pop culture and sci-fi to imagine different futures, whether
        through interface design, business principles or work practices.</p>
      {%- endcall %}
      {% call slide(num=5, label="Axiom") -%}
        {% call slide_h3() -%}
          Design for humans.
        {%- endcall %}
        <p>Focus on what is possible when scholars, technologists and
        open-source activists work on shared problems. Build around real user
        communities, to keep alive the spirit of collaboration and friendship
        that started the project.</p>
      {%- endcall %}
    {%- endcall %}
  {%- endcall %}
</body>
